.gray-bg{background-color: #f8fafa;}
.white-bg{background-color: #fff;}
.title{
    h1{font-size: 40px; text-align: center;}
}
button{padding: 0; border: none; background: transparent;
    svg{width: 100%; height: 100%;}
}
.tablet,
.mobile{
    .hide-mob{display: none;}
    //.breadcrumbs{display: none;}
}
input{}
.basket{padding-top: 10px;
    .title{margin-top: -10px;}
    &__dellall{font-size: 14px;font-weight: 400; display: flex;justify-content: flex-end; align-items: center; position: absolute; right: 0;top: 0;
        button{width: 12px;height: 12px;  margin-left: 15px;}
    }
    &__dell{ position: absolute; right: 0;top: calc(50% - 6px);
        button{width: 12px;height: 12px; line-height: 0;}
    }
    &__img{width: 80px; height: 80px; margin-right: 32px; min-width: 80px;
        img{width: 100%; height: 100%; object-fit: cover;}
    }
    &__float{display: flex;flex-direction: column;justify-content: space-between; max-width: 380px;  width: 100%;}
    &__title{font-size: 22px; display: flex; padding-right: 10px; max-width: 470px; width: 100%;
        p{margin: 0;}
        b{font-size: 12px; font-weight: 300;}
    }
    &__price{ text-align: center; padding: 0 10px; flex-shrink: 0;
        p{margin: 15px 0;}
    }
    &__count{ text-align: center; padding: 0 10px; flex-shrink: 0;
        p{margin: 15px 0;}
        &--new {margin: 7px 0;
            p {margin: 5px 0;}
        }
    }
    &__prom{ flex-shrink: 0;
        .param{flex-direction: column; justify-content: center;}
        .param__title{margin-right: 0; margin-bottom: 5px; margin-top: 5px;}
    }
    &__item{display: flex; justify-content: space-between;  position: relative;   border-bottom: 1px solid #ccc; padding: 15px 62px 15px 0;
        &:first-child{ border-top: 1px solid #ccc;}
    }
    &__content{position: relative; padding-top: 27px;  padding-bottom: 20px;}
    &__bottom{padding: 27px 0; }
    &__bottom-wrap{display: flex; justify-content: space-between; align-items: center;  max-width: 812px; margin: 0 auto;}
    &__bottom-right{font-size: 14px; width: 225px;
        .btn{width: 100%;}
        label{margin-top: 0; margin-bottom: 20px;}
    }
    &__bottom-left{ width: 225px;
        input{width: 100%; margin-bottom: 10px;}
        .btn{width: 100%;}
        p {margin: 0;}
    }
    &__bottom-center{padding: 0 40px; white-space: nowrap;}
    &__row{display: flex; justify-content: center; align-items: center; font-size: 24px;
        b{font-weight: 500;}
        p{margin: 5px 0;
            &:first-child{text-align: right;}
        }
    }
    &__input{ margin-bottom: 10px; position: relative;
        &.hide{display: none;}
        input{height: 40px; line-height: 38px; }
        .jq-selectbox { width: 100%;
            &__select{ border: 1px solid #d9d9d9; line-height: 38px; border-radius:0; font-size: 15px; font-weight: 100; font-family:"SFUIDisplay",arial,sans-serif; color:rgba(0,0,0,0.6); height: 40px;}
            &.focused {
                .jq-selectbox__select {border: 1px solid #d9d9d9;}
            }
        }
        textarea {width: 100%; border: 1px solid #d9d9d9; min-height: 80px; font-size:16px; color: #000000; font-weight: 100; padding: 11px 20px; line-height: 20px; resize: none;}
        &--custom {margin-top: 25px;}
    }
    &__form{display: flex; justify-content: center; max-width: 844px; margin: 0 auto; padding-top: 28px;}
    &__formcol{width: 50%; padding: 0 16px;}
    &__form-title{font-size: 30px; margin-bottom: 17px;}
}
.faq{line-height: 1.2;
    &__title{font-size: 22px; border-bottom: 1px solid #d9d9d9; padding-bottom: 27px; padding-left: 4px;}
    &__answer{   font-size: 14px; height: 0; max-height: 0; transition: all 200ms; opacity: 0; padding: 0px 20px; pointer-events: none;
        &.active{   border-bottom: 1px solid #d9d9d9; max-height: 1000px; opacity: 1; padding: 20px 20px; height: auto; pointer-events: all;}
        p{margin-bottom: 10px;}
    }
    &__btn{ width: 16px; height: 16px; flex-shrink: 0; margin-left: 20px;
        svg{fill: #6c6c6c; transition: all 200ms;}
        &--minus{display: none;}
        &:hover {
            svg {fill: #000000;}
        }
    }
    &__quest{font-weight: 400; font-size: 18px; color: #9c9c9c; border-bottom: 1px solid #d9d9d9; cursor: pointer; padding:28px 20px; display: flex; justify-content: space-between; align-items: center;
        &.active{color: #000; background-color: #fbfbfb;
            .faq__btn {
                &--minus {display: block;}
                &--plus {display: none;}
            }
        }
    }
    &__showmore{ font-size: 14px;font-weight: 300; text-decoration: underline; position: relative; display: block; margin: 18px auto; max-width: 160px; cursor: pointer;
        &:after{display: block; width: 7px;height: 7px; border-right:1px solid #6c6c6c; border-bottom:1px solid #6c6c6c; content: ''; top: 4px; right: 0px; transform: rotate(45deg); position: absolute;}
        &.active{display: none;}
    }
    &__hidden{display: none;
        &.active{display: block;}
    }
    &__group{margin-bottom: 56px;}
}
[data-disabled]{position: relative; pointer-events: none;
    &:before{width: 100%; height: 100%; background-color: #fff;opacity: 0.8; content: ''; display: block; position: absolute;left: 0;top: 0;right: 0;bottom: 0; z-index: 7777;}
}
.card{
    &__title{
        h1{font-size: 44px; line-height: 1.2; margin: 34px 0 10px; text-align: left;}
    }
    &__wrap{display: flex;padding-bottom: 40px;}
    &__slider{width: 510px; flex-shrink: 0;}
    &__itemslider{margin-bottom: 0; width: 100%;
        &:after{display: none; width: 100%; height: 40%; bottom: 0;left: 0; content: ''; position: absolute;  background: linear-gradient(to bottom, rgba(255,255,255,0.0) 0%,rgba(0,0,0,0.4) 100%);    }
    }
    &__itemslide{width: 100%;  position: relative;
        &:before{position: relative; content: ''; padding-bottom: 100%; display: block;width: 100%;}
        img{height: 100%;  position: absolute; z-index: 10; left: 50%;  top: 50%; transform: translate(-50%, -50%);}
    }
    &__info{padding-left: 74px; display: flex; flex-direction: column; justify-content: space-between; align-items: flex-start;
        b{font-weight: 300; font-size: 12px;  }
        strike{color: #a7b1b5; font-size: 30px;}
    }
    &__price{font-size: 30px;}
    &__col{min-width: 160px; padding-right: 15px;}
    &__row{width: 100%;  display: flex; margin: 10px 0;}
    &__text{padding-top: 49px; line-height: 1.2;
        p{margin:6px 0 10px;}
        img {object-fit: cover;  max-width: 440px; width: 100%;}
        h4{font-size: 26px; margin: .75em 0;}
    }
    &__textrow{display: flex; flex-wrap: wrap; padding-top: 17px;}
    &__textcol{flex-grow: 1;margin:6px 0 10px; padding-right: 10px; max-width: 50%;}
    &__buttons{
        a{margin-right: 10px; margin-top: 10px;}
    }
    &__description{padding: 12px 0 35px;   }
    &__tabs{padding: 0 40px;}
}
.param{display: inline-flex; justify-content: flex-start;align-items: center; margin: 10px 0;
    *{user-select: none;}
    &__title{margin-right: 10px;}
    &__button{width: 30px; height: 30px; position: absolute; z-index: 20;  top: 0; border-radius: 50%; transition: all 200ms;
        &:hover {  background-color: rgba(181, 192, 196, 0.3); }
        &.disabled{pointer-events: none; opacity: 0.5;}
        svg{fill:#666666; width: 100%; height: 100%;}
    }
    &__list{border-radius: 15px; background-color: #fff; height: 30px;  position: relative; overflow: hidden; width: 100%;}
    &__item{ position: absolute; left: 0;top: 0; width: 100%; height:100%; display: flex;justify-content: center;align-items: center; transform-origin: 0 50%; transform: rotate(-45deg); transition: transform 400ms;
        input{position: absolute; opacity: 0;visibility: hidden; left: 0; top: 0; pointer-events: none;}
        &.active{transform: rotate(0);
            &.next,
            & ~ .param__item{transform-origin: 100% 50%;}
        }
    }
    &__next{right: 0;}
    &__prev{left: 0;}
    &__body{min-width: 138px; display: inline-block; position: relative;}
}
.popup{max-width: 670px; border: 1px solid #d9d9d9; padding: 0; width: 100%; line-height: 1.2;
    &__top{background-color: #fff; text-align: center; padding: 20px;
        h2{font-size: 44px; margin: 11px 0 16px;}
        p{}
    }
    &__bot{text-align: center; padding: 36px 20px;
        form{max-width: 330px; width: 100%; margin: 0 auto;}
        input{text-align: center;}
    }
}
.soc{padding: 62px 0;
    &__wrap{display: flex; align-items: center; justify-content: center;
        p{margin: 0; font-size: 30px; margin-right: 10px;}
        a:not(:last-child){margin-right: 10px;}
    }
}
.set{padding: 10px 0 35px; text-align: center;
    &__plus{width: 30px; height: 30px;  margin-bottom: 50px;
        svg{fill:#666666; width: 100%; height: 100%;}
    }
    &__wrap{display: flex;justify-content: space-between;align-items: center;}
    &__items{display: flex;justify-content: space-between;align-items: center; flex-grow: 1;}
    &__one {
        .catalog__item{  width: 100%; border-bottom: 0; margin: 0;}
        .catalog__box{position: relative;
            .btn{display: none;}
        }
    }

}
.slick{
    &__arrow{ width: 30px; height: 30px; bottom: 20px; position: absolute; z-index: 100; cursor: pointer; border-radius: 50%; box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.5); background-color: rgba(0, 0, 0, 0.5);
        &:hover {  background-color: rgba(255, 255, 255, 0.3); }
        svg{fill:#fff;}
    }
    &__prev{left: 20px;}
    &__next{right: 20px;}
}

.count__counter {position: relative; padding: 0 35px;
    p {margin: 5px 0;}
    input {
        padding: 5px;
        width: 75px;
        border: 0;
        text-align: center;
    }
}

@media screen and (max-height: 778px){
    .card__itemslide{height: calc(100vh - 226px); min-height: 344px;}
    .card__wrap{height: calc(100vh - 187px); min-height: 383px;}
}
@media screen and (max-width: 1024px){
    h2{font-size: 24px;}
    .title{
        h1{font-size: 24px;}
    }
    .popup__top {
        h2{font-size: 24px;}
        p{font-size: 14px;}
        br{display: none;}
    }
    .faq__title{font-size: 18px;}
    .faq__quest{font-size: 16px;}
    .basket{
        &__img{margin-right: 10px; flex-shrink: 0;}
        &__bottom-wrap{max-width: 100%;}
        &__form{max-width: 100%;}
        &__formcol{padding-left: 0; padding-right: 0;
            &:first-child{padding-right: 20px;}
        }
    }
    .card{
        &__title{
            h1{font-size: 24px; margin-top: 10px;}
        }
        &__slider{width: 300px;}
        &__info{padding-left: 30px;}
        &__tabs{padding: 0;}
        .card__itemslide{height: auto; min-height: 1px;}
        .card__wrap{height: auto; min-height: 1px;}
    }
    .set__one{width: 150px;}
    .set__plus{margin-bottom: 88px;}
    .soc__wrap p{font-size: 18px;}
}
@media screen and (max-width: 768px){
    .basket{
        &__img {width: 110px; height: 110px;}
        &__content{margin-top: 0;}
        &__form-title{font-size: 22px;}
        &__bottom-center{padding-top: 10px;}
        &__bottom-wrap{flex-direction: column;}
        &__row{font-size: 18px;}
        &__item{flex-wrap: wrap; justify-content: space-between; padding-right: 0;}
        &__title{width: 100%; padding-right: 20px; max-width: none;}
        &__price {display: flex; padding: 0; width: 20%; align-items: center; margin-top: 15px; flex-grow: 1;
            p {margin: 0px 15px 0 0; }
        }
        &__count {display: flex; width: 20%; align-items: center; margin-top: 15px; flex-grow: 1;
            p {margin: 0px 15px 0 0; }
            &--new {width: 36%;}
        }
        &__prom { width: 30%; margin-top: 15px;  flex-grow: 1;
            .param { flex-direction: row; margin-top: 0; margin-bottom: 0;
                &__title {margin-right: 15px;}
            }
        }
        &__dell {top: 15px;}
    }
    .card{
        &__slider{width: calc(50% - 6px);}
        &__wrap{position: relative; padding-bottom: 90px;}
        &__buttons{position: absolute; left: 0;bottom: 25px; width: 100%; justify-content: center; display: flex;}
        &__row{justify-content: center;}
        &__info{padding-left: 15px;
            strike{font-size: 20px;}
        }
        &__price{font-size: 20px;}
        &__col{min-width: 1px; width:auto; }
        &__title {
            h1 {text-align: center; letter-spacing: 0.8px;}
        }
    }
    .param{flex-wrap: wrap;
        &__title{margin-bottom: 10px; margin-top: 10px;}
    }
    .set{
        &__wrap{flex-wrap: wrap; }
        &__one{
            .catalog__text{padding-bottom: 7px;}
            .catalog__name{margin-bottom: 4px;}
            .catalog__price{font-size: 15px;  }
            &--all{width: 100%; display: flex; justify-content: center; margin-top: 15px;}
        }
        &__icon{display: none;}

    }
    .soc{padding: 15px 0;
        &__wrap{flex-wrap: wrap; text-align: center;
            p{width: 100%; margin-bottom: 10px; font-size: 14px;}
        }
    }
}
@media screen and (max-width: 720px) {
    .basket__prom .param {flex-wrap: wrap;}
    .basket__prom .param__title {width: 100%; text-align: center; margin-right: 0;}
    .basket__count--new { flex-wrap: wrap; align-items: center; justify-content: center;
        p {width: 100%;margin-right: 0;}
    }

}
@media screen and (max-width: 560px){
    .param {
        &__wrap {width: 50%; display: flex;
            justify-content:center;}
    }
    .basket{
        &__form{flex-direction: column;}
        &__formcol{width: 100%;
            &:first-child{padding-right: 0;}
        }
        &__price{width: 100%; display: flex; padding: 0;
            p{width: 50%; text-align: left; margin: 5px 0;
                &:last-child {text-align: center;}
            }
        }
        &__count{width: 100%; display: flex; padding: 0;
            p{width: 50%; text-align: left; margin: 5px 0;
                &:last-child {text-align: center;}
            }
        }
        &__prom{width: 100%;
            .param{flex-direction: row; margin: 0; justify-content: space-between; width: 100%;}
            .param__title {width: auto;}
        }
        &__dell{top: 15px;}
    }
    .card{
        &__param{padding: 1px 0;}
        &__wrap{flex-direction: column;padding-bottom: 10px; padding-top: 45px;}
        &__slider{ width: calc(100% + 30px); margin-left: -15px;}
        &__info{text-align: center; align-items: center; padding-left: 0;}
        &__buttons{position: relative; flex-wrap: wrap; bottom: auto;
            a{flex-grow: 1; margin: 5px;}
        }
        &__row{margin: 4px 0;}
        .breadcrumbs { position: absolute; top: 0; left: 0; }
    }
    .set{

        &__one{ margin:0; padding: 0 4px; width: 33.33%;
            &:not(.set__one--all) .catalog__name{display: none;}
            &--all{width: 100%;
                .catalog__item{max-width: 100%;}
                .catalog__box{
                    &:after{display: block; width: 100%; height: 40%; bottom: 0;left: 0; content: ''; position: absolute;  background: linear-gradient(to bottom, rgba(255,255,255,0.0) 0%,rgba(0,0,0,0.4) 100%);    }
                    .btn{display: block; position: absolute; bottom: 10px; left: 10px;   width: calc(100% - 20px); background-color: transparent; color: #fff; border-color: #fff; z-index: 10;}
                }
            }


        }
        &__wrap + .btn{display: none;  }
    }
    .soc__wrap a{ flex-grow: 1; margin: 5px; min-width: 130px;
        &:not(:last-child){margin-right: 5px;}
    }
    .basket__count--new {justify-content: space-between;
        p {width: auto; }
    }
    .basket__dec {width: 50%; display: flex;
        justify-content:center;}
    .breadcrumbs__list li {
        max-width: 100px;
    }
}
@media screen and (max-width: 480px){
    .basket__img {width: 80px; height: 80px;}
}