<!-- FOOTER -->
<footer class="footer">
    <div class="footer__hidden">
        <div class="footer__connect">
            <a href="tel:0800750775" class="footer__phone">080 075 07 75</a>
            <div class="connect">
                <div class="connect__head">
                    <span>Связаться с нами по:</span>
                </div>
                <div class="connect__under">
                    <div class="connect__col">
                        <a href="#" class="btn btn--pic">
                            <div class="pic">
                                <svg>
                                    <use xlink:href="#viber"></use>
                                </svg>
                            </div>
                            Viber</a>
                        <div class="footer__inn">
                            <span> Прием звонков:</span>
                            ПН-СБ: 09:00-19:00 <br>
                            ВС: Выходной
                        </div>
                    </div>
                    <div class="connect__col">
                        <a href="#" class="btn btn--pic">
                            <div class="pic">
                                <svg>
                                    <use xlink:href="#telegram"></use>
                                </svg>
                            </div>
                            Telegram</a>
                        <div class="footer__inn">
                            <span> Заказы ONLINE: </span>
                            круглосуточно
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="footer__button"> <span>Информация</span></a>
        <ul class="footer__info">
            <li><a href="#">О нас</a></li>
            <li><a href="#">Доставка и Оплата</a></li>
            <li><a href="#">Вопросы-ответы</a></li>
            <li><a href="#">Контакты</a></li>
            <li><a href="#">Карта сайта</a></li>
        </ul>
    </div>
    <div class="mbox">
        <div class="footer__wrap">
            <div class="footer__logo">
                <a href="#" class="footer__image">
                    <svg>
                        <use xlink:href="#logo"></use>
                    </svg>
                </a>
                <div class="footer__copy">
                    <span>Copyright © 2019 All rights reserved</span>
                </div>
            </div>
            <div class="footer__mid">
                <ul>
                    <li><a href="#">О нас</a></li>
                    <li><a href="#">Доставка и Оплата</a></li>
                    <li><a href="#">Вопросы-ответы</a></li>
                    <li><a href="#">Контакты</a></li>
                    <li><a href="#">Карта сайта</a></li>

                </ul>
                <div class="footer__fix">
                    <div class="footer__inn">
                        <span> Прием звонков:</span>
                        ПН-СБ: 09:00-19:00 <br>
                        ВС: Выходной
                    </div>
                    <div class="footer__inn">
                        <span> Заказы ONLINE: </span>
                        круглосуточно
                    </div>
                </div>

            </div>
            <div class="footer__socials">
                <a href="tel:0800750775" class="footer__phone">080 075 07 75</a>
                <div class="footer__icons">
                    <a href="#" class="social">
                        <svg>
                            <use xlink:href="#facebook"></use>
                        </svg>
                    </a>
                    <a href="#" class="social">
                        <svg>
                            <use xlink:href="#insta"></use>
                        </svg>
                    </a>
                    <a href="#" class="social">
                        <svg>
                            <use xlink:href="#telegram"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
    
</footer>
<!-- FOOTER -->
<script>
    var revision = 12523;    // версия спрайта (текущая дата)
    var file = 'images/sprite.svg';
</script>
<link rel="stylesheet" href="css/jquery.fancybox.min.css">
<link rel="stylesheet" href="css/formstyler.css">
<link rel="stylesheet" href="css/normalize.css">
<link rel="stylesheet" href="css/slick-theme.css">
<link rel="stylesheet" href="css/slick.css">
<link rel="stylesheet" href="css/select2.css">
<link rel="stylesheet" href="css/develop.css">
<link rel="stylesheet" href="css/develop2.css">
<!-- SCRIPTS -->
<script        src="https://code.jquery.com/jquery-3.1.1.min.js"        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="        crossorigin="anonymous"></script>
<script type="text/javascript" src="js/validate_script.js" ></script>
<!-- build:js -->
<script type="text/javascript" src="js/plagins/device.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.fancybox.min.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.formstyler.min.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.validate.min.js" ></script>
<script type="text/javascript" src="js/plagins/maskInput.js" ></script>
<script type="text/javascript" src="js/plagins/slick.js" ></script>
<script type="text/javascript" src="js/select2.js" ></script>
<script type="text/javascript" src="js/plagins/object-fit-cover.js" ></script>
<script type="text/javascript" src="js/basic_scripts.js" ></script>

<script type="text/javascript" src="js/develop.js" ></script>

<!-- endbuild -->

<!-- /SCRIPTS -->
