<!-- HEADER -->
<header>
    <a href="#" class="header__banner">
        <div class="mbox">
            <div class="banner">
                <div class="banner__text">
                    <span>Акция 1+1=3</span>  Тут будет описание акции. Длинна описания - рабочая область. Переход на страницу акции через клик на баннер. Кнопка, имхо, не нужна!
                </div>
                <button class="banner__close"></button>
            </div>

        </div>
    </a>
    <div class="header">
        <div class="header__back">
            <div class="header__inner">
            <div class="mbox">
            <div class="header__up">
                <div class="upper">
                    <div class="upper__left">
                        <div class="js-menu-caller upper__sticks">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <a href="tel:0800750775" class="upper__phone">
                            <div class="upper__img">
                                <svg>
                                    <use xlink:href="#phone"></use>
                                </svg>
                            </div>
                            <span>080 075 07 75</span>
                        </a>
                    </div>

                    <a href="/" class="upper__logo">
                        <svg>
                            <use xlink:href="#logo"></use>
                        </svg>
                    </a>
                    <div class="upper__right">
                        <div class="search">
                            <input type="text" placeholder="Поиск">
                            <div class="search__btn">
                                <svg>
                                    <use xlink:href="#search"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="stash">
                            <a href="#" class="stash__button">
                                <svg>
                                    <use xlink:href="#cart"></use>
                                </svg>
                                <span></span>
                            </a>
                            <div class="stash__pop">
                                <div class="stash__container">
                                    <div class="stash__item">
                                        <div class="stash__img">
                                            <img src="images/demo/stash_1.jpg" alt="">
                                        </div>
                                        <div class="stash__about">
                                            <p>Золотое кольцо "Сердце и крестик"</p>
                                            <div class="stash__price">787  грн</div>
                                        </div>
                                    </div>
                                    <div class="stash__item">
                                        <div class="stash__img">
                                            <img src="images/demo/stash_1.jpg" alt="">
                                        </div>
                                        <div class="stash__about">
                                            <p>Золотое кольцо "Сердце и крестик"</p>
                                            <div class="stash__price">787  грн</div>
                                        </div>
                                    </div>
                                    <div class="stash__item">
                                        <div class="stash__img">
                                            <img src="images/demo/stash_1.jpg" alt="">
                                        </div>
                                        <div class="stash__about">
                                            <p>Золотое кольцо "Сердце и крестик"</p>
                                            <div class="stash__price">787  грн</div>
                                        </div>
                                    </div>
                                    <div class="stash__item">
                                        <div class="stash__img">
                                            <img src="images/demo/stash_1.jpg" alt="">
                                        </div>
                                        <div class="stash__about">
                                            <p>Золотое кольцо "Сердце и крестик"</p>
                                            <div class="stash__price">787  грн</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="stash__total">
                                    <div class="stash__summary">
                                        <p><b>Общая стоимость:</b> 1 287 грн</p>
                                    </div>
                                    <a href="#" class="btn btn--stash">В корзину</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
            <div class="menu__wrapper">
                <div class="mbox">
                    <div class="menu">
                        <div class="menu__closeit">
                            <div class="catalog__close"><span>Каталог</span></div>
                        </div>
                        <ul class="menu__list">
                            <li><a href="#" class="firstlevel js-hasnext">Серьги</a>
                                <ul class="nextlevel">
                                    <li class="nextlevel__back"><div class="backmenu"></div>
                                        <a href="#" class="menu__razdel">Серьги</a>
                                    </li>
                                    <li><a href="#">Первый</a></li>
                                    <li><a href="#">Второй</a></li>
                                    <li><a href="#">Третий</a></li>
                                    <li><a href="#">Пятый</a></li>
                                    <li><a href="#">Шестой</a></li>
                                    <li><a href="#">Седьмой</a></li>
                                    <li><a href="#">Восьмой</a></li>
                                    <li><a href="#">Девятый</a></li>
                                </ul>
                            </li>
                            <li><a href="#" class="firstlevel">Кольца</a></li>
                            <li><a href="#" class="firstlevel">Браслеты</a></li>
                            <li><a href="#" class="firstlevel">Подвески</a></li>
                            <li><a href="#" class="firstlevel">Колье</a></li>
                            <li><a href="#" class="firstlevel">Персонализированные украшения</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</header>
<!-- /HEADER -->

