<div class="hidden-block">

    <div id="call_success">
        <div class="call-success">
             <div class="call_success">
                 <div class="call-title">Спасибо за заявку!</div>
                 <div class="call-subtitle">Мы свяжемся с Вами в ближайшее время</div>
             </div>
        </div>
    </div>

    <div class="popup" id="basketpop">
        <div class="popup__top">
            <h2>Быстрый заказ</h2>
            <p>Для быстрого заказа, заполните поля и наш менеджер <br>
                свяжется с вами в ближайшее время</p>
        </div>
        <div class="popup__bot gray-bg">
            <form class="contact-form">
                <div class="contact-form-row cfix">
                    <div class="contact-form-item">
                        <div class="contact-form-item-input form_row">
                            <div class="form_input">
                                <input type="text" name="contact_surname" required="required" value="" placeholder="Фамилия">
                            </div>
                        </div>
                    </div>
                    <div class="contact-form-item">
                        <div class="contact-form-item-input form_row">
                            <div class="form_input">
                                <input type="email" name="contact_name" value="" required="required" placeholder="Имя">
                            </div>
                        </div>
                    </div>
                    <div class="contact-form-item">
                        <div class="contact-form-item-input form_row">
                            <div class="form_input">
                                <input type="text" name="contact_tel" value="" required="required" placeholder="Телефон" class="tel-mask">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contact-form-row cfix">
                    <div class="contact-form-item">
                        <button type="submit" class="contact-submit btn btn--green">
                            <span>Отправить заявку</span>
                        </button>
                    </div>
                </div>


            </form>

        </div>
    </div>

</div>