<section class="prebot">
    <div class="mbox">
        <div class="prebot__wrap">
            <div class="prebot__text">
                <span>Подпишитесь на рассылку и получите купон на бесплатную доставку</span>
            </div>
            <form action="" class="prebot__form">
                <input type="text" placeholder="Ваша почта" required>
                <button type="submit" class="btn"> <span>Подписаться</span> </button>
            </form>
        </div>
    </div>
</section>