<section class="soc gray-bg">
    <div class="mbox">
        <div class="soc__wrap">
            <p>Связаться с нами через:</p>
            <a href="#" class="btn btn--pic">
                <div class="pic">
                    <svg>
                        <use xlink:href="#viber"></use>
                    </svg>
                </div>
                <span>Viber</span>
            </a>
            <a href="#" class="btn btn--pic">
                <div class="pic">
                    <svg>
                        <use xlink:href="#telegram"></use>
                    </svg>
                </div>
                <span>Telegram</span>
            </a>
        </div>
    </div>
</section>