<div class="watched__slider js-watched-slider">
    <div class="watched__slide">
        <div class="catalog__item">
            <div class="catalog__box">
                <img src="images/demo/catalog_item_1.jpg" alt="item">
            </div>
            <div class="catalog__text">
                <div class="catalog__name">
                    <span>Серьги Безграничность</span>
                </div>
                <div class="catalog__price">
                    <span>480 грн</span>
                </div>
            </div>
        </div>
    </div>
    <div class="watched__slide">
        <div class="catalog__item">
            <div class="catalog__box">
                <img src="images/demo/catalog_item_2.jpg" alt="item">
            </div>
            <div class="catalog__text">
                <div class="catalog__name">
                    <span>Серьги Безграничность</span>
                </div>
                <div class="catalog__price">
                    <span>480 грн</span>
                </div>
            </div>
        </div>
    </div>
    <div class="watched__slide">
        <div class="catalog__item">
            <div class="catalog__box">
                <img src="images/demo/catalog_item_3.jpg" alt="item">
            </div>
            <div class="catalog__text">
                <div class="catalog__name">
                    <span>Серьги Безграничность</span>
                </div>
                <div class="catalog__price">
                    <span>480 грн</span>
                </div>
            </div>
        </div>
    </div>
    <div class="watched__slide">
        <div class="catalog__item">
            <div class="catalog__box">
                <img src="images/demo/catalog_item_4.jpg" alt="item">
            </div>
            <div class="catalog__text">
                <div class="catalog__name">
                    <span>Серьги Безграничность</span>
                </div>
                <div class="catalog__price">
                    <span>480 грн</span>
                </div>
            </div>
        </div>
    </div>
    <div class="watched__slide">
        <div class="catalog__item">
            <div class="catalog__box">
                <img src="images/demo/catalog_item_1.jpg" alt="item">
            </div>
            <div class="catalog__text">
                <div class="catalog__name">
                    <span>Серьги Безграничность</span>
                </div>
                <div class="catalog__price">
                    <span>480 грн</span>
                </div>
            </div>
        </div>
    </div>
</div>