//= partials/head.html

<div class="global-wrapper">
    //= partials/header.html
    <div class="main">
        <section class="notfound">
            <div class="mbox">
                <div class="notfound__info">
                    <h2>Страница, которую вы ищете,  к сожалению не найдена</h2>
                    <a href="#" class="btn">Продолжить покупки</a>
                </div>
            </div>
        </section>
        //= partials/prebot.html
    </div>

    //= partials/hidden-block.html
    //= partials/footer.html
</div>
</body>
</html>