//= partials/head.html

<div class="global-wrapper">
    <!-- HEADER -->
    <header>
        <div class="header">
            <div class="header__back">
                <div class="header__inner">
                    <div class="mbox">
                        <div class="header__up">
                            <div class="upper upper--reverse">
                                <div class="upper__left">

                                    <a href="tel:0800750775" class="upper__phone">
                                        <div class="upper__img">
                                            <svg>
                                                <use xlink:href="#phone"></use>
                                            </svg>
                                        </div>
                                        <span>080 075 07 75</span>
                                    </a>
                                </div>

                                <a href="/" class="upper__logo">
                                    <svg>
                                        <use xlink:href="#logo"></use>
                                    </svg>
                                </a>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </header>
    <!-- /HEADER -->


    <div class="main">
        <section class="basket white-bg">
            <div class="mbox">


                <div class="basket__content">
                    <a href="#" class="basket__dellall">
                        <span>Удалить все товары</span>
                        <button type="button"><svg><use xlink:href="#close_small"></use></svg></button>
                    </a>
                    <div class="basket__items">
                        <div class="basket__item">
                            <div class="basket__title">
                                <div class="basket__img"><img src="images/demo/little_pic_1.jpg" alt="" data-object-fit="cover"></div>
                                <div class="basket__float">
                                    <p>Золотое кольцо "Сердце и крестик"</p>
                                    <p><b>Артикул: к04609</b></p>
                                </div>
                            </div>
                            <div class="basket__price">
                                <p>Цена</p>
                                <p>2 695 грн</p>
                            </div>
                            <div class="basket__count basket__count--new">
                                <p>Количество</p>
                                <div class="basket__dec">
                                    <div class="count__counter">
                                        <button type="button" class="param__prev param__button js-count-minus">
                                            <svg><use xlink:href="#minus"></use></svg>
                                        </button>
                                        <input type="text" value="1">
                                        <button type="button" class="param__next param__button js-count-plus">
                                            <svg><use xlink:href="#plus"></use></svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="basket__prom">
                                <div class="param">
                                    <div class="param__title">Размер</div>
                                    <div class="param__wrap">
                                        <div class="param__body">
                                            <button type="button" class="param__prev param__button">
                                                <svg><use xlink:href="#minus"></use></svg>
                                            </button>
                                            <ul class="param__list">
                                                <li class="param__item"><label><input type="radio" value="175" name="width"><span>17.5 см</span></label></li>
                                                <li class="param__item"><label><input type="radio" value="175" name="width"><span>18.5 см</span></label></li>
                                                <li class="param__item"><label><input type="radio" value="175" name="width"><span>19.5 см</span></label></li>
                                                <li class="param__item"><label><input type="radio" value="175" name="width"><span>20.5 см</span></label></li>
                                                <li class="param__item"><label><input type="radio" value="175" name="width"><span>21.5 см</span></label></li>
                                                <li class="param__item active"><label><input type="radio" value="175" name="width"><span>22.5 см</span></label></li>
                                                <li class="param__item"><label><input type="radio" value="175" name="width"><span>23.5 см</span></label></li>
                                                <li class="param__item"><label><input type="radio" value="175" name="width"><span>24.5 см</span></label></li>
                                                <li class="param__item"><label><input type="radio" value="175" name="width"><span>25.5 см</span></label></li>
                                                <li class="param__item"><label><input type="radio" value="175" name="width"><span>26.5 см</span></label></li>
                                                <li class="param__item"><label><input type="radio" value="175" name="width"><span>27.5 см</span></label></li>
                                            </ul>
                                            <button type="button" class="param__next param__button">
                                                <svg><use xlink:href="#plus"></use></svg>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="basket__dell">
                                <button type="button"><svg><use xlink:href="#close_small"></use></svg></button>
                            </div>
                        </div>
                        <div class="basket__item">
                            <div class="basket__title">
                                <div class="basket__img"><img src="images/demo/little_pic_1.jpg" alt="" data-object-fit="cover"></div>
                                <div class="basket__float">
                                    <p>Золотое кольцо "Сердце и крестик"</p>
                                    <p><b>Артикул: к04609</b></p>
                                </div>
                            </div>
                            <div class="basket__price">
                                <p>Цена</p>
                                <p>2 695 грн</p>
                            </div>
                            <div class="basket__count basket__count--new">
                                <p>Количество</p>
                                <div class="basket__dec">
                                    <div class="count__counter">
                                        <button type="button" class="param__prev param__button js-count-minus">
                                            <svg><use xlink:href="#minus"></use></svg>
                                        </button>
                                        <input type="text" value="1">
                                        <button type="button" class="param__next param__button js-count-plus" onclick="">
                                            <svg><use xlink:href="#plus"></use></svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="basket__prom">
                                <div class="param">
                                    <div class="param__title">Размер</div>
                                    <div class="param__wrap">
                                        <div class="param__body">
                                            <button type="button" class="param__prev param__button">
                                                <svg><use xlink:href="#minus"></use></svg>
                                            </button>
                                            <ul class="param__list">
                                                <li class="param__item"><label><input type="radio" value="175" name="width"><span>17.5 см</span></label></li>
                                                <li class="param__item"><label><input type="radio" value="175" name="width"><span>18.5 см</span></label></li>
                                                <li class="param__item"><label><input type="radio" value="175" name="width"><span>19.5 см</span></label></li>
                                                <li class="param__item"><label><input type="radio" value="175" name="width"><span>20.5 см</span></label></li>
                                                <li class="param__item"><label><input type="radio" value="175" name="width"><span>21.5 см</span></label></li>
                                                <li class="param__item active"><label><input type="radio" value="175" name="width"><span>22.5 см</span></label></li>
                                                <li class="param__item"><label><input type="radio" value="175" name="width"><span>23.5 см</span></label></li>
                                                <li class="param__item"><label><input type="radio" value="175" name="width"><span>24.5 см</span></label></li>
                                                <li class="param__item"><label><input type="radio" value="175" name="width"><span>25.5 см</span></label></li>
                                                <li class="param__item"><label><input type="radio" value="175" name="width"><span>26.5 см</span></label></li>
                                                <li class="param__item"><label><input type="radio" value="175" name="width"><span>27.5 см</span></label></li>
                                            </ul>
                                            <button type="button" class="param__next param__button">
                                                <svg><use xlink:href="#plus"></use></svg>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="basket__dell">
                                <button type="button"><svg><use xlink:href="#close_small"></use></svg></button>
                            </div>
                        </div>
                    </div>
                    <div class="basket__form">
                        <div class="basket__formcol">
                            <div class="basket__form-title">
                                <span>Контактные данные</span>
                            </div>
                            <div class="basket__input">
                                <input type="text" placeholder="Фамилия">
                            </div>
                            <div class="basket__input">
                                <input type="text" placeholder="Имя">
                            </div>
                            <div class="basket__input">
                                <input type="tel" placeholder="Телефон" class="tel-mask tel-input">
                            </div>
                            <div class="basket__input">
                                <input type="text" placeholder="E-mail">
                            </div>
                            <div class="basket__input selector">
                                <select name=""  class="select js-towns-select">
                                    <option value="2">Город</option>
                                    <option value="3">Хмельницкий</option>
                                    <option value="4">Тернополь</option>
                                    <option value="5">Ровно</option>
                                    <option value="1">Все города</option>
                                    <option value="2">Винница</option>
                                    <option value="3">Хмельницкий</option>
                                    <option value="4">Тернополь</option>
                                    <option value="5">Ровно</option>
                                    <option value="1">Все города</option>
                                    <option value="2">Винница</option>
                                    <option value="3">Хмельницкий</option>
                                    <option value="4">Тернополь</option>
                                    <option value="5">Ровно</option>
                                    <option value="1">Все города</option>
                                    <option value="2">Винница</option>
                                    <option value="3">Хмельницкий</option>
                                    <option value="4">Тернополь</option>
                                    <option value="5">Ровно</option>
                                    <option value="1">Все города</option>
                                    <option value="2">Винница</option>
                                    <option value="3">Хмельницкий</option>
                                    <option value="4">Тернополь</option>
                                    <option value="5">Ровно</option>
                                    <option value="1">Все города</option>
                                    <option value="2">Винница</option>
                                    <option value="3">Хмельницкий</option>
                                    <option value="4">Тернополь</option>
                                    <option value="5">Ровно</option>
                                    <option value="1">Все города</option>
                                    <option value="2">Винница</option>
                                    <option value="3">Хмельницкий</option>
                                    <option value="4">Тернополь</option>
                                    <option value="5">Ровно</option>
                                    <option value="1">Все города</option>
                                    <option value="2">Винница</option>
                                    <option value="3">Хмельницкий</option>
                                    <option value="4">Тернополь</option>
                                    <option value="5">Ровно</option>
                                    <option value="1">Все города</option>
                                    <option value="2">Винница</option>
                                    <option value="3">Хмельницкий</option>
                                    <option value="4">Тернополь</option>
                                    <option value="5">Ровно</option>
                                </select>
                            </div>
                            <div class="basket__input text-area">
                                <textarea name="" id="" placeholder="Комментарий"></textarea>
                            </div>
                        </div>
                        <div class="basket__formcol">
                            <div class="basket__form-title">
                                <span>Способ доставки</span>
                            </div>
                            <div class="js-radio-group">
                                <label class="styled">
                                    <input type="radio" name="121" checked="checked"> <i></i> <span>Новая почта (на отделение)</span>
                                </label>
                                <div class="basket__input selector">
                                    <select name=""   class="select js-post-select">
                                        <option>Отделение </option>
                                        <option value="2">Винница</option>
                                        <option value="3">Хмельницкий</option>
                                        <option value="4">Тернополь</option>
                                        <option value="5">Ровно</option>
                                        <option value="1">Все города</option>
                                        <option value="2">Винница</option>
                                        <option value="3">Хмельницкий</option>
                                        <option value="4">Тернополь</option>
                                        <option value="5">Ровно</option>
                                        <option value="1">Все города</option>
                                        <option value="2">Винница</option>
                                        <option value="3">Хмельницкий</option>
                                        <option value="4">Тернополь</option>
                                        <option value="5">Ровно</option>
                                        <option value="1">Все города</option>
                                        <option value="2">Винница</option>
                                        <option value="3">Хмельницкий</option>
                                        <option value="4">Тернополь</option>
                                        <option value="5">Ровно</option>
                                        <option value="1">Все города</option>
                                        <option value="2">Винница</option>
                                        <option value="3">Хмельницкий</option>
                                        <option value="4">Тернополь</option>
                                        <option value="5">Ровно</option>
                                        <option value="1">Все города</option>
                                        <option value="2">Винница</option>
                                        <option value="3">Хмельницкий</option>
                                        <option value="4">Тернополь</option>
                                        <option value="5">Ровно</option>
                                        <option value="1">Все города</option>
                                        <option value="2">Винница</option>
                                        <option value="3">Хмельницкий</option>
                                        <option value="4">Тернополь</option>
                                        <option value="5">Ровно</option>
                                        <option value="1">Все города</option>
                                        <option value="2">Винница</option>
                                        <option value="3">Хмельницкий</option>
                                        <option value="4">Тернополь</option>
                                        <option value="5">Ровно</option>
                                        <option value="1">Все города</option>
                                        <option value="2">Винница</option>
                                        <option value="3">Хмельницкий</option>
                                        <option value="4">Тернополь</option>
                                        <option value="5">Ровно</option>
                                    </select>
                                </div>
                                <label class="styled">
                                    <input type="radio" name="121"> <i></i> <span>Новая почта (курьером на дом)</span>
                                </label>
                                <div class="basket__input hide">
                                    <input type="text" placeholder="Ваш адрес">
                                </div>
                            </div>

                            <br>
                            <div class="basket__form-title">
                                <span>Способ оплаты</span>
                            </div>
                            <label class="styled">
                                <input type="radio" name="11"> <i></i> <span>Оплата на карту ПБ</span>
                            </label>
                            <label class="styled">
                                <input type="radio" name="11"> <i></i> <span>Оплата наложенным платежём</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="basket__bottom gray-bg">
                <div class="mbox">
                    <div class="basket__bottom-wrap">
                        <div class="basket__bottom-left">
                            <input type="text" placeholder="Купон на скидку">
                            <p><a href="#" class="btn">Пересчитать</a></p>
                        </div>
                        <div class="basket__bottom-center">
                            <div class="basket__row">
                                <p>Ваша скидка:</p>
                                <p>1 187 грн</p>
                            </div>
                            <div class="basket__row">
                                <p>Итого к оплате:</p>
                                <p><b>13 875 грн</b></p>
                            </div>
                        </div>
                        <div class="basket__bottom-right">
                            <label class="styled">
                                <input type="checkbox"> <i></i> <span>Мне можно не перезванивать для подтверждения заказа</span>
                            </label>
                            <a href="#" class="btn btn--green">Оформить заказ</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        //= partials/prebot.html
    </div>
    //= partials/hidden-block.html
    <!-- FOOTER -->
    <footer class="footer">

        <div class="mbox">
            <div class="footer__wrap">
                    <div class="footer__copy" style="width: 100%; text-align: center;">
                        <span>Copyright © 2019 All rights reserved</span>
                    </div>
            </div>
        </div>

    </footer>
    <!-- FOOTER -->
    <script>
        var revision = 124423;    // версия спрайта (текущая дата)
        var file = 'images/sprite.svg';
    </script>
    <link rel="stylesheet" href="css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="css/formstyler.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/slick-theme.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/select2.css">
    <link rel="stylesheet" href="css/develop.css">
    <link rel="stylesheet" href="css/develop2.css">
    <!-- SCRIPTS -->
    <script        src="https://code.jquery.com/jquery-3.1.1.min.js"        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="        crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/validate_script.js" ></script>
    <!-- build:js -->
    <script type="text/javascript" src="js/plagins/device.js" ></script>
    <script type="text/javascript" src="js/plagins/jquery.fancybox.min.js" ></script>
    <script type="text/javascript" src="js/plagins/jquery.formstyler.min.js" ></script>
    <script type="text/javascript" src="js/plagins/jquery.validate.min.js" ></script>
    <script type="text/javascript" src="js/plagins/maskInput.js" ></script>
    <script type="text/javascript" src="js/plagins/slick.js" ></script>
    <script type="text/javascript" src="js/select2.js" ></script>
    <script type="text/javascript" src="js/plagins/object-fit-cover.js" ></script>
    <script type="text/javascript" src="js/basic_scripts.js" ></script>
    <script type="text/javascript" src="js/develop.js" ></script>

    <!-- endbuild -->

    <!-- /SCRIPTS -->

</div>
</body>
</html>