//= partials/head.html

<div class="global-wrapper">
    //= partials/header.html
    <div class="main">
        <section class="card gray-bg">
            <div class="mbox">
                <div class="card__wrap">
                    <div class="card__slider">
                        <div class="card__itemslider js-card__itemslider">
                            <a href="https://ivolgann.com/wp-content/uploads/2015/02/shutterstock_112205987_01-1500x1500.jpg" class="card__itemslide" data-fancybox="catalog__gallery" >
                                <img src="images/demo/item_pic.png" alt="">
                            </a>
                            <a href="https://ivolgann.com/wp-content/uploads/2015/02/shutterstock_112205987_01-1500x1500.jpg" class="card__itemslide" data-fancybox="catalog__gallery" >
                                <img src="images/demo/item_pic.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="card__info">
                        <div class="title card__title">
                            //= partials/breadcrumbs.html
                            <h1>Серьги Безграничность C Камнями</h1>
                        </div>
                        <div class="card__row">
                            <div class="card__col hide-mob">
                                <b>В наличии</b>
                            </div>
                            <div class="card__col">
                                <b>Артикул: к04609</b>
                            </div>
                        </div>
                        <div class="card__row">
                            <div class="card__col">
                                <strike>670 грн</strike>
                            </div>
                            <div class="card__col">
                                <span class="card__price">480 грн</span>
                            </div>
                        </div>
                        <div class="card__param">
                            <div class="param">
                                <div class="param__title">Длинна</div>
                                <div class="param__body">
                                    <button type="button" class="param__prev param__button">
                                        <svg><use xlink:href="#minus"></use></svg>
                                    </button>
                                    <ul class="param__list">
                                        <li class="param__item"><label><input type="radio" value="175" name="width"><span>17.5 см</span></label></li>
                                        <li class="param__item"><label><input type="radio" value="175" name="width"><span>18.5 см</span></label></li>
                                        <li class="param__item"><label><input type="radio" value="175" name="width"><span>19.5 см</span></label></li>
                                        <li class="param__item"><label><input type="radio" value="175" name="width"><span>20.5 см</span></label></li>
                                        <li class="param__item"><label><input type="radio" value="175" name="width"><span>21.5 см</span></label></li>
                                        <li class="param__item active"><label><input type="radio" value="175" name="width"><span>22.5 см</span></label></li>
                                        <li class="param__item"><label><input type="radio" value="175" name="width"><span>23.5 см</span></label></li>
                                        <li class="param__item"><label><input type="radio" value="175" name="width"><span>24.5 см</span></label></li>
                                        <li class="param__item"><label><input type="radio" value="175" name="width"><span>25.5 см</span></label></li>
                                        <li class="param__item"><label><input type="radio" value="175" name="width"><span>26.5 см</span></label></li>
                                        <li class="param__item"><label><input type="radio" value="175" name="width"><span>27.5 см</span></label></li>
                                    </ul>
                                    <button type="button" class="param__next param__button">
                                        <svg><use xlink:href="#plus"></use></svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="card__param">
                            <div class="param">
                                <div class="param__title">Длинна</div>
                                <div class="param__body">
                                    <button type="button" class="param__prev param__button ">
                                        <svg><use xlink:href="#minus"></use></svg>
                                    </button>
                                    <ul class="param__list">
                                        <li class="param__item "><label><input type="radio" value="175" name="width"><span>21.5 см</span></label></li>
                                        <li class="param__item active"><label><input type="radio" value="175" name="width"><span>22.5 см</span></label></li>
                                        <li class="param__item"><label><input type="radio" value="175" name="width"><span>23.5 см</span></label></li>
                                    </ul>
                                    <button type="button" class="param__next param__button">
                                        <svg><use xlink:href="#plus"></use></svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="card__buttons">
                            <a href="#" class="btn btn--stash">В корзину</a>
                            <a href="#" class="btn btn--transparent">Быстрый заказ</a>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <section class="white-bg card__description">
            <div class="mbox">
                <div class="tabs card__tabs">
                    <div class="tabs__head">
                        <a href="#" class="tabs__link active">Описание</a>
                        <a href="#" class="tabs__link">Упаковка</a>
                        <a href="#" class="tabs__link">Доставка</a>
                    </div>
                    <div class="tabs__body">
                        <div class="tabs__item active">
                            <div class="card__text">
                                <p>Угловатая концепция, смысловая нагрузка и такая завораживающая лаконичность — то, что составляет прекрасное минималистское кольцо. минималистское кольцо.</p>
                                <div class="card__textrow">
                                    <div class="card__textcol">
                                        <b>Металл: </b>
                                        <p>Красное золото 585"</p>
                                    </div>
                                    <div class="card__textcol">
                                        <b>Вставка: </b>
                                        <p> Без камней</p>
                                    </div>
                                    <div class="card__textcol">
                                        <b>Покрытие: </b>
                                        <p>Без покрытия</p>
                                    </div>
                                    <div class="card__textcol">
                                        <b>Вес:  </b>
                                        <p>≈ 1.45 грамм</p>
                                    </div>
                                    <div class="card__textcol">
                                        <b>Производитель: </b>
                                        <p>Украина</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tabs__item">
                            <div class="card__text" style="text-align: center;">
                                    <p>Все украшения отправляются в качественной брендированной упаковке</p>
                                    <img src="images/demo/boxes.jpg" alt="">
                                    <p class="packaging-box-text">Ваш подарок точно понравится! </p>
                            </div>
                        </div>
                        <div class="tabs__item">
                            <div class="card__text">
                                <div class="card__textrow">
                                    <div class="card__textcol">
                                        <h4> Способы доставки</h4>
                                        <p><b>1. На отделение новой почты</b></p>
                                        <p>Стоимость доставки от 25 грн, при заказе на сумму более 1500 грн, доставка бесплатная.</p>
                                        <p><b>2. Курьером на дом</b></p>
                                        <p>Стоимость от 35 грн, при заказе на сумму более 2000 грн  доставка бесплатная.</p>
                                        <p><b>3.  Самовывоз из наших магазинов</b></p>
                                        <p>Доступно в г. Киев (пл. Победы, 3) и г. Хмельницкий (ул. Подольская, 41).</p>
                                    </div>
                                    <div class="card__textcol">
                                        <h4>Оплата</h4>
                                        <p><b>1. Безналичный банковский расчет (Приват24)</b></p>
                                        <p>Наши реквизиты Вам вышлет наш менеджер-консультант. Дополнительная стоимость не взымается.</p>
                                        <p><b>2. Оплата при получении посылки</b></p>
                                        <p>Стоимость услуги составляет 20 грн + 2%  от суммы перевода.</p>
                                        <p><b>3.  Наличными в точках выдачи</b></p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        //= partials/scials.html
        <section class="white-bg set">
            <div class="mbox">
                <h2>Комплект</h2>
                <div class="set__wrap">
                    <div class="set__one">
                        <a href="#" class="catalog__item">
                            <div class="catalog__box">
                                <img src="images/demo/catalog_item_1.jpg" alt="item">
                            </div>
                            <div class="catalog__text">
                                <div class="catalog__name">
                                    <span>Серьги Безграничность</span>
                                </div>
                                <div class="catalog__price">
                                    <span>480 грн</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="set__icon">
                        <div class="set__plus"><svg><use xlink:href="#plus"></use></svg></div>
                    </div>
                    <div class="set__one">
                        <a href="#" class="catalog__item">
                            <div class="catalog__box">
                                <img src="images/demo/catalog_item_1.jpg" alt="item">
                            </div>
                            <div class="catalog__text">
                                <div class="catalog__name">
                                    <span>Серьги Безграничность</span>
                                </div>
                                <div class="catalog__price">
                                    <span>480 грн</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="set__icon">
                        <div class="set__plus"><svg><use xlink:href="#plus"></use></svg></div>
                    </div>
                    <div class="set__one">
                        <a href="#" class="catalog__item">
                            <div class="catalog__box">
                                <img src="images/demo/catalog_item_1.jpg" alt="item">
                            </div>
                            <div class="catalog__text">
                                <div class="catalog__name">
                                    <span>Серьги Безграничность</span>
                                </div>
                                <div class="catalog__price">
                                    <span>480 грн</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="set__icon set__icon--summ">
                        <div class="set__plus"><svg><use xlink:href="#equal"></use></svg></div>
                    </div>
                    <div class="set__one set__one--all">
                        <div class="catalog__item">
                            <div class="catalog__box">
                                <img src="images/demo/catalog_item_1.jpg" alt="item">
                                <a href="#" class="btn btn--transparent">Купить комплект</a>
                            </div>
                            <div class="catalog__text">
                                <div class="catalog__name">
                                    <span>Серьги Безграничность</span>
                                </div>
                                <div class="catalog__price">
                                    <span class="catalog__old">1600 грн</span>
                                    <span>480 грн</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="#" class="btn btn--transparent">Купить комплект</a>
            </div>
        </section>
        <section class="watched gray-bg">
            <div class="mbox">
                <h2>Также покупают</h2>
                //= partials/watched.html
            </div>
        </section>
        <section class="watched white-bg">
            <div class="mbox">
                <h2>Вы смотрели</h2>
               //= partials/watched.html
            </div>
        </section>
        //= partials/prebot.html
    </div>
    //= partials/hidden-block.html
    //= partials/footer.html
</div>
</body>
</html>