//= partials/head.html

<div class="global-wrapper">
    //= partials/header.html



    <div class="main">
        <section class="beforepage">

            <div class="mbox">
                <div class="beforepage__wrapper">
                    //= partials/breadcrumbs.html
                    <div class="beforepage__head">
                        <div class="beforepage__button">
                            <button class="btn btn--transparent js-show-filters filters__button"><span>Фильтр</span></button>
                        </div>
                        <div class="beforepage__header">
                            <h1 class="catalog_h3">Подвески и кулоны</h1>
                        </div>
                        <div class="beforepage__select">
                            <select>
                                <option>Сортировать по цене </option>
                                <option>Сортировать по циганах</option>
                            </select>
                        </div>
                    </div>
                    <div class="filters js-filters">
                        <div class="filters__wrap">
                            <div class="catalog__close"><span>Фильтр</span><button class="cross js-close-catalog">
                                <svg>
                                    <use xlink:href="#close_round"></use>
                                </svg>
                            </button></div>

                            <div class="filters__checks">
                                <label class="styled">
                                    <input type="checkbox"><span class="btn btn--transparent"><span>Серебро</span></span>
                                </label>
                                <label class="styled">
                                    <input type="checkbox"><span class="btn btn--transparent"><span>Серебро</span></span>
                                </label>
                                <label class="styled">
                                    <input type="checkbox"> <i></i> <span>Все (2300)</span>
                                </label>
                                <label class="styled">
                                    <input type="checkbox"> <i></i> <span>Красное золото (518)</span>
                                </label>
                                <label class="styled">
                                    <input type="checkbox"> <i></i> <span>Желтое золото (122)</span>
                                </label>
                                <label class="styled">
                                    <input type="checkbox"> <i></i> <span>Белое золото (301)</span>
                                </label>
                            </div>
                            <div class="hider">
                                <div class="hider__head"><span>Цена, грн</span></div>
                                <div class="hider__body">
                                    <div class="hider__row">
                                        <input type="text" class="js-lower-price" value="75 .00">
                                        <input type="text" class="js-higher-price" value="300 .00">
                                    </div>
                                    <div class="hider__pricer">
                                        <div class="js-slide-price" data-min="0" data-max="500" data-values="[75, 300]"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="hider">
                                <div class="hider__head"><span>Вид изделия</span></div>
                                <div class="hider__body">
                                    <div class="filters__checks">
                                        <label class="styled">
                                            <input type="checkbox"> <i></i> <span>Все (2300)</span>
                                        </label>
                                        <label class="styled">
                                            <input type="checkbox"> <i></i> <span>Красное золото (518)</span>
                                        </label>
                                        <label class="styled">
                                            <input type="checkbox"> <i></i> <span>Желтое золото (122)</span>
                                        </label>
                                        <label class="styled">
                                            <input type="checkbox"> <i></i> <span>Белое золото (301)</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="hider">
                                <div class="hider__head"><span>Вставка</span></div>
                                <div class="hider__body">
                                    <div class="filters__checks">
                                        <label class="styled">
                                            <input type="checkbox"> <i></i> <span>Все (2300)</span>
                                        </label>
                                        <label class="styled">
                                            <input type="checkbox"> <i></i> <span>Красное золото (518)</span>
                                        </label>
                                        <label class="styled">
                                            <input type="checkbox"> <i></i> <span>Желтое золото (122)</span>
                                        </label>
                                        <label class="styled">
                                            <input type="checkbox"> <i></i> <span>Белое золото (301)</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="hider">
                                <div class="hider__head"><span>Тематика</span></div>
                                <div class="hider__body">
                                    <div class="filters__checks">
                                        <label class="styled">
                                            <input type="checkbox"> <i></i> <span>Все (2300)</span>
                                        </label>
                                        <label class="styled">
                                            <input type="checkbox"> <i></i> <span>Красное золото (518)</span>
                                        </label>
                                        <label class="styled">
                                            <input type="checkbox"> <i></i> <span>Желтое золото (122)</span>
                                        </label>
                                        <label class="styled">
                                            <input type="checkbox"> <i></i> <span>Белое золото (301)</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="filters__accept">
                                <a href="#" class="btn" onclick="hideFilter();"><span>Применить</span></a>
                                <a href="javascript:hideFilter();" class="filters__reset" >Сбросить все фильтры</a>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </section>
        <section class="catalog white-bg">
            <div class="mbox">
                <div class="catalog__wrapper">
                    <a href="#" class="catalog__item">
                        <div class="catalog__box">
                            <img src="images/demo/catalog_item_1.jpg" alt="item">
                        </div>
                        <div class="catalog__text">
                            <div class="catalog__name">
                                <span>Серьги Безграничность</span>
                            </div>
                            <div class="catalog__price">
                                <span>480 грн</span>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="catalog__item" data-disabled>
                        <div class="catalog__box">
                            <img src="images/demo/catalog_item_2.jpg" alt="item">
                        </div>
                        <div class="catalog__text">
                            <div class="catalog__name">
                                <span>Серьги Безграничность с лунным камнем</span>
                            </div>
                            <div class="catalog__price">
                                <span>480 грн</span>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="catalog__item">
                        <div class="catalog__box">
                            <img src="images/demo/catalog_item_3.jpg" alt="item">
                        </div>
                        <div class="catalog__text">
                            <div class="catalog__name">
                                <span>Серьги Безграничность</span>
                            </div>
                            <div class="catalog__price">
                                <span>480 грн</span>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="catalog__item">
                        <div class="catalog__box">
                            <img src="images/demo/catalog_item_4.jpg" alt="item">
                        </div>
                        <div class="catalog__text">
                            <div class="catalog__name">
                                <span>Серьги Безграничность</span>
                            </div>
                            <div class="catalog__price">
                                <span>480 грн</span>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="catalog__item">
                        <div class="catalog__box">
                            <img src="images/demo/catalog_item_1.jpg" alt="item">
                        </div>
                        <div class="catalog__text">
                            <div class="catalog__name">
                                <span>Серьги Безграничность</span>
                            </div>
                            <div class="catalog__price">
                                <span>480 грн</span>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="catalog__item">
                        <div class="catalog__box">
                            <img src="images/demo/catalog_item_2.jpg" alt="item">
                        </div>
                        <div class="catalog__text">
                            <div class="catalog__name">
                                <span>Серьги Безграничность</span>
                            </div>
                            <div class="catalog__price">
                                <span>480 грн</span>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="catalog__item">
                        <div class="catalog__box">
                            <img src="images/demo/catalog_item_3.jpg" alt="item">
                        </div>
                        <div class="catalog__text">
                            <div class="catalog__name">
                                <span>Серьги Безграничность</span>
                            </div>
                            <div class="catalog__price">
                                <span>480 грн</span>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="catalog__item">
                        <div class="catalog__box">
                            <img src="images/demo/catalog_item_4.jpg" alt="item">
                        </div>
                        <div class="catalog__text">
                            <div class="catalog__name">
                                <span>Серьги Безграничность</span>
                            </div>
                            <div class="catalog__price">
                                <span>480 грн</span>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="catalog__item">
                        <div class="catalog__box">
                            <img src="images/demo/catalog_item_1.jpg" alt="item">
                        </div>
                        <div class="catalog__text">
                            <div class="catalog__name">
                                <span>Серьги Безграничность</span>
                            </div>
                            <div class="catalog__price">
                                <span>480 грн</span>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="catalog__item">
                        <div class="catalog__box">
                            <img src="images/demo/catalog_item_2.jpg" alt="item">
                        </div>
                        <div class="catalog__text">
                            <div class="catalog__name">
                                <span>Серьги Безграничность</span>
                            </div>
                            <div class="catalog__price">
                                <span>480 грн</span>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="catalog__item">
                        <div class="catalog__box">
                            <img src="images/demo/catalog_item_3.jpg" alt="item">
                        </div>
                        <div class="catalog__text">
                            <div class="catalog__name">
                                <span>Серьги Безграничность</span>
                            </div>
                            <div class="catalog__price">
                                <span>480 грн</span>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="catalog__item">
                        <div class="catalog__box">
                            <img src="images/demo/catalog_item_4.jpg" alt="item">
                        </div>
                        <div class="catalog__text">
                            <div class="catalog__name">
                                <span>Серьги Безграничность</span>
                            </div>
                            <div class="catalog__price">
                                <span>480 грн</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="pagination">
                    <ul class="pagination__list">
                        <li><a href="#" class="pagination__page active">1</a></li>
                        <li><a href="#" class="pagination__page">2</a></li>
                        <li><a href="#" class="pagination__page">3</a></li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="watched gray-bg">
            <div class="mbox">
                <h2>Вы смотрели</h2>
                <div class="watched__slider js-watched-slider">
                    <div class="watched__slide">
                        <a href="#" class="catalog__item">
                            <div class="catalog__box">
                                <img src="images/demo/catalog_item_1.jpg" alt="item">
                            </div>
                            <div class="catalog__text">
                                <div class="catalog__name">
                                    <span>Серьги Безграничность</span>
                                </div>
                                <div class="catalog__price">
                                    <span>480 грн</span>
                                </div>
                            </div>
                        </a>
                    </div>


                </div>
            </div>
        </section>
        //= partials/prebot.html
    </div>


    //= partials/hidden-block.html


    //= partials/footer.html
    <script type="text/javascript" src="js/jquery-ui.js" ></script>
    <script>
        $( function() {
            var item = $('.js-slide-price');
            if (item.length > 0) {
                item.slider({
                    range: true,
                    min: item.data('min')===undefined ? 0 : parseInt(item.data('min')),
                    max: item.data('max')===undefined ? 500 : parseInt(item.data('max')),
                    values: item.data('values')===undefined ? [item.data('min'), item.data('max')] : item.data('values'),
                    slide: function( event, ui ) {
                        $('.js-lower-price').val(ui.values[ 0 ]);
                        $('.js-higher-price').val(ui.values[ 1 ]);
                    }
                });
            }
        });
    </script>
</div>
</body>
</html>