//= partials/head.html

<div class="global-wrapper">
    //= partials/header.html
    <div class="main">
        <section class="contacts white-bg">
            <div class="mbox">
                //= partials/breadcrumbs.html
                <div class="title">
                    <h1>Контакты</h1>
                </div>
                <div class="contacts__wrap">
                    <div class="contacts__col">
                        <div class="contacts__town"><span>г. Киев</span></div>
                        <div class="point">
                            <div class="point__info">
                                <div class="point__head">
                                    <span>Отдел «Оникс» в ТРЦ «Украина»</span>
                                </div>
                                <div class="point__wrap">
                                    <div class="point__col">
                                        <div class="point__address"><span>пл. Победы, 3</span></div>
                                        <a href="#" class="point__phone">0 800 334 269</a>
                                    </div>
                                    <div class="point__col">
                                        <div class="point__time"><span><b>ПН - ПТ:</b> с 10:00 до 21:00</span></div>
                                        <div class="point__time"><span><b>СБ - ВС:</b> с 10:00 до 21:00</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="point__map">
                                <div id="map"></div>
                            </div>
                        </div>
                    </div>
                    <div class="contacts__col">
                        <div class="contacts__town"><span>г. Хмельницкий</span></div>
                            <div class="point">
                                <div class="point__info">
                                    <div class="point__head">
                                        <span>Отдел «Оникс» в ТРЦ «Украина»</span>
                                    </div>
                                    <div class="point__wrap">
                                        <div class="point__col">
                                            <div class="point__address"><span>пл. Победы, 3</span></div>
                                            <a href="#" class="point__phone">0 800 334 269</a>
                                        </div>
                                        <div class="point__col">
                                            <div class="point__time"><span><b>ПН - ПТ:</b> с 10:00 до 21:00</span></div>
                                            <div class="point__time"><span><b>СБ - ВС:</b> с 10:00 до 21:00</span></div>
                                            <div class="point__time"><span><b>ВC.:    </b> с 10:00 до 17:00</span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="point__map">
                                    <div id="mapkhm"></div>
                                </div>
                            </div>

                    </div>
                </div>

            </div>
        </section>
        //= partials/scials.html
        //= partials/prebot.html
    </div>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCOTMrmvLiNBsPwJcuRhiI6KY3L9sg9ifE&callback=initMap" async defer></script>
    //= partials/hidden-block.html
    //= partials/footer.html
    <script>
        function googleMap(mapWrap, first, second){
            function initialize() {
                var myLatlng = new google.maps.LatLng(first, second);
                var myOptions = {
                    zoom: 12,
                    center: myLatlng,
                    disableDefaultUI: false, //без управляющих елементов
                    mapTypeId: google.maps.MapTypeId.ROADMAP, // SATELLITE - снимки со спутника,
                    zoomControlOptions: {
                        position: google.maps.ControlPosition.LEFT_BOTTOM // позиция слева внизу для упр елементов
                    }
                }
                var map = new google.maps.Map(document.getElementById(mapWrap), myOptions);
                var marker = new google.maps.Marker({
                    position: myLatlng,
                    map: map,
                    animation: google.maps.Animation.DROP
                });

                marker.addListener('click', toggleBounce);
                function toggleBounce() {
                    if (marker.getAnimation() !== null) {
                        marker.setAnimation(null);
                    } else {
                        marker.setAnimation(google.maps.Animation.BOUNCE);
                    }
                }
            }
            initialize();
        }

        googleMap('map', 50.446748, 30.493031); //id
        googleMap('mapkhm', 49.426601, 26.980029); //id
    </script>
</div>
</body>
</html>