//= partials/head.html

<div class="global-wrapper">
    //= partials/header.html
    <div class="main">
        <div class="mbox">
            //= partials/breadcrumbs.html
        </div>
        <section class="prebot">
            <div class="mbox">
                <div class="prebot__wrap">
                    <form action="" class="prebot__form" style="width: 100%;">
                        <input type="text" placeholder="Ваша почта" required="" style="text-align: left;">
                        <button type="submit" class="btn"> <span>Найти</span></button>
                    </form>
                </div>
            </div>
        </section>
        <section class="notfound notfound--search">
            <div class="mbox">
                <div class="notfound__info">
                    <h2>По вашему запросу ничего не найдено, попробуйте изменить запрос</h2>
                </div>
            </div>
        </section>
        //= partials/prebot.html
    </div>

    //= partials/hidden-block.html
    //= partials/footer.html
</div>
</body>
</html>