//= partials/head.html

<div class="global-wrapper">
    //= partials/header.html
    <div class="main">
        <section class="faq white-bg">
            <div class="mbox">
                //= partials/breadcrumbs.html
                <div class="title">
                    <h1>Вопросы и ответы</h1>
                </div>
                <div class="faq__group">
                    <div class="faq__title"><span>Гарантия и сервисное обслуживание</span></div>
                    <div class="faq__item">
                        <div class="faq__quest" data-dropdown-btn>
                            <p>Могу ли я быть уверен(а), что ювелирное изделие, которое я приобретаю,
                                настоящее?</p>
                            <button class="faq__btn faq__btn--plus"><svg><use xlink:href="#plus"></use></svg></button>
                            <button class="faq__btn faq__btn--minus"><svg><use xlink:href="#minus"></use></svg></button>
                        </div>
                        <div class="faq__answer" data-dropdown-box>
                            <p>Мы уверены, что вам понравятся изделия, которые Вы у нас купите. Тем не менее, если у Вас есть хоть малейшие сомнения - мы даем Вам возможность вернуть или обменять изделие в течении 14 дней со дня покупки. </p>
                            <p> Если изделие было доставлено "Новой Почтой", Вы можете легко вернуть его из любого отделения, просто сообщив оператору номер Электронной накладной (ЭН), по которой товар был получен. </p>
                            <p> Всё это мы делаем, несмотря на то, что по законодательству Украины ювелирные изделия входят в список НЕ подлежащих возврату и обмену! Мы не сомневаемся в качестве нашей продукции!</p>
                        </div>
                    </div>
                    <div class="faq__item">
                        <div class="faq__quest" data-dropdown-btn>
                            <p>Могу ли я быть уверен(а), что ювелирное изделие, которое я приобретаю,
                                настоящее?</p>
                            <button class="faq__btn faq__btn--plus"><svg><use xlink:href="#plus"></use></svg></button>
                            <button class="faq__btn faq__btn--minus"><svg><use xlink:href="#minus"></use></svg></button>
                        </div>
                        <div class="faq__answer" data-dropdown-box>
                            <p>Мы уверены, что вам понравятся изделия, которые Вы у нас купите. Тем не менее, если у Вас есть хоть малейшие сомнения - мы даем Вам возможность вернуть или обменять изделие в течении 14 дней со дня покупки. </p>
                            <p> Если изделие было доставлено "Новой Почтой", Вы можете легко вернуть его из любого отделения, просто сообщив оператору номер Электронной накладной (ЭН), по которой товар был получен. </p>
                            <p> Всё это мы делаем, несмотря на то, что по законодательству Украины ювелирные изделия входят в список НЕ подлежащих возврату и обмену! Мы не сомневаемся в качестве нашей продукции!</p>
                        </div>
                    </div>
                    <div class="faq__item">
                        <div class="faq__quest" data-dropdown-btn>
                            <p>Могу ли я быть уверен(а), что ювелирное изделие, которое я приобретаю,
                                настоящее?</p>
                            <button class="faq__btn faq__btn--plus"><svg><use xlink:href="#plus"></use></svg></button>
                            <button class="faq__btn faq__btn--minus"><svg><use xlink:href="#minus"></use></svg></button>
                        </div>
                        <div class="faq__answer" data-dropdown-box>
                            <p>Мы уверены, что вам понравятся изделия, которые Вы у нас купите. Тем не менее, если у Вас есть хоть малейшие сомнения - мы даем Вам возможность вернуть или обменять изделие в течении 14 дней со дня покупки. </p>
                            <p> Если изделие было доставлено "Новой Почтой", Вы можете легко вернуть его из любого отделения, просто сообщив оператору номер Электронной накладной (ЭН), по которой товар был получен. </p>
                            <p> Всё это мы делаем, несмотря на то, что по законодательству Украины ювелирные изделия входят в список НЕ подлежащих возврату и обмену! Мы не сомневаемся в качестве нашей продукции!</p>
                        </div>
                    </div>
                    <div class="faq__showmore" data-dropdown-btn>Смотреть все вопросы </div>
                    <div class="faq__hidden" data-dropdown-box>
                        <div class="faq__item">
                            <div class="faq__quest" data-dropdown-btn>
                                <p>Могу ли я быть уверен(а), что ювелирное изделие, которое я приобретаю,
                                    настоящее?</p>
                                <button class="faq__btn faq__btn--plus"><svg><use xlink:href="#plus"></use></svg></button>
                                <button class="faq__btn faq__btn--minus"><svg><use xlink:href="#minus"></use></svg></button>
                            </div>
                            <div class="faq__answer" data-dropdown-box>
                                <p>Мы уверены, что вам понравятся изделия, которые Вы у нас купите. Тем не менее, если у Вас есть хоть малейшие сомнения - мы даем Вам возможность вернуть или обменять изделие в течении 14 дней со дня покупки. </p>
                                <p> Если изделие было доставлено "Новой Почтой", Вы можете легко вернуть его из любого отделения, просто сообщив оператору номер Электронной накладной (ЭН), по которой товар был получен. </p>
                                <p> Всё это мы делаем, несмотря на то, что по законодательству Украины ювелирные изделия входят в список НЕ подлежащих возврату и обмену! Мы не сомневаемся в качестве нашей продукции!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="faq__group">
                    <div class="faq__title"><span>Гарантия и сервисное обслуживание</span></div>
                    <div class="faq__item">
                        <div class="faq__quest" data-dropdown-btn>
                            <p>Могу ли я быть уверен(а), что ювелирное изделие, которое я приобретаю,
                                настоящее?</p>
                            <button class="faq__btn faq__btn--plus"><svg><use xlink:href="#plus"></use></svg></button>
                            <button class="faq__btn faq__btn--minus"><svg><use xlink:href="#minus"></use></svg></button>
                        </div>
                        <div class="faq__answer" data-dropdown-box>
                            <p>Мы уверены, что вам понравятся изделия, которые Вы у нас купите. Тем не менее, если у Вас есть хоть малейшие сомнения - мы даем Вам возможность вернуть или обменять изделие в течении 14 дней со дня покупки. </p>
                            <p> Если изделие было доставлено "Новой Почтой", Вы можете легко вернуть его из любого отделения, просто сообщив оператору номер Электронной накладной (ЭН), по которой товар был получен. </p>
                            <p> Всё это мы делаем, несмотря на то, что по законодательству Украины ювелирные изделия входят в список НЕ подлежащих возврату и обмену! Мы не сомневаемся в качестве нашей продукции!</p>
                        </div>
                    </div>
                    <div class="faq__item">
                        <div class="faq__quest" data-dropdown-btn>
                            <p>Могу ли я быть уверен(а), что ювелирное изделие, которое я приобретаю,
                                настоящее?</p>
                            <button class="faq__btn faq__btn--plus"><svg><use xlink:href="#plus"></use></svg></button>
                            <button class="faq__btn faq__btn--minus"><svg><use xlink:href="#minus"></use></svg></button>
                        </div>
                        <div class="faq__answer" data-dropdown-box>
                            <p>Мы уверены, что вам понравятся изделия, которые Вы у нас купите. Тем не менее, если у Вас есть хоть малейшие сомнения - мы даем Вам возможность вернуть или обменять изделие в течении 14 дней со дня покупки. </p>
                            <p> Если изделие было доставлено "Новой Почтой", Вы можете легко вернуть его из любого отделения, просто сообщив оператору номер Электронной накладной (ЭН), по которой товар был получен. </p>
                            <p> Всё это мы делаем, несмотря на то, что по законодательству Украины ювелирные изделия входят в список НЕ подлежащих возврату и обмену! Мы не сомневаемся в качестве нашей продукции!</p>
                        </div>
                    </div>
                    <div class="faq__item">
                        <div class="faq__quest" data-dropdown-btn>
                            <p>Могу ли я быть уверен(а), что ювелирное изделие, которое я приобретаю,
                                настоящее?</p>
                            <button class="faq__btn faq__btn--plus"><svg><use xlink:href="#plus"></use></svg></button>
                            <button class="faq__btn faq__btn--minus"><svg><use xlink:href="#minus"></use></svg></button>
                        </div>
                        <div class="faq__answer" data-dropdown-box>
                            <p>Мы уверены, что вам понравятся изделия, которые Вы у нас купите. Тем не менее, если у Вас есть хоть малейшие сомнения - мы даем Вам возможность вернуть или обменять изделие в течении 14 дней со дня покупки. </p>
                            <p> Если изделие было доставлено "Новой Почтой", Вы можете легко вернуть его из любого отделения, просто сообщив оператору номер Электронной накладной (ЭН), по которой товар был получен. </p>
                            <p> Всё это мы делаем, несмотря на то, что по законодательству Украины ювелирные изделия входят в список НЕ подлежащих возврату и обмену! Мы не сомневаемся в качестве нашей продукции!</p>
                        </div>
                    </div>
                    <div class="faq__showmore" data-dropdown-btn>Смотреть все вопросы </div>
                    <div class="faq__hidden" data-dropdown-box>
                        <div class="faq__item">
                            <div class="faq__quest" data-dropdown-btn>
                                <p>Могу ли я быть уверен(а), что ювелирное изделие, которое я приобретаю,
                                    настоящее?</p>
                                <button class="faq__btn faq__btn--plus"><svg><use xlink:href="#plus"></use></svg></button>
                                <button class="faq__btn faq__btn--minus"><svg><use xlink:href="#minus"></use></svg></button>
                            </div>
                            <div class="faq__answer" data-dropdown-box>
                                <p>Мы уверены, что вам понравятся изделия, которые Вы у нас купите. Тем не менее, если у Вас есть хоть малейшие сомнения - мы даем Вам возможность вернуть или обменять изделие в течении 14 дней со дня покупки. </p>
                                <p> Если изделие было доставлено "Новой Почтой", Вы можете легко вернуть его из любого отделения, просто сообщив оператору номер Электронной накладной (ЭН), по которой товар был получен. </p>
                                <p> Всё это мы делаем, несмотря на то, что по законодательству Украины ювелирные изделия входят в список НЕ подлежащих возврату и обмену! Мы не сомневаемся в качестве нашей продукции!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="faq__group">
                    <div class="faq__title"><span>Гарантия и сервисное обслуживание</span></div>
                    <div class="faq__item">
                        <div class="faq__quest" data-dropdown-btn>
                            <p>Могу ли я быть уверен(а), что ювелирное изделие, которое я приобретаю,
                                настоящее?</p>
                            <button class="faq__btn faq__btn--plus"><svg><use xlink:href="#plus"></use></svg></button>
                            <button class="faq__btn faq__btn--minus"><svg><use xlink:href="#minus"></use></svg></button>
                        </div>
                        <div class="faq__answer" data-dropdown-box>
                            <p>Мы уверены, что вам понравятся изделия, которые Вы у нас купите. Тем не менее, если у Вас есть хоть малейшие сомнения - мы даем Вам возможность вернуть или обменять изделие в течении 14 дней со дня покупки. </p>
                            <p> Если изделие было доставлено "Новой Почтой", Вы можете легко вернуть его из любого отделения, просто сообщив оператору номер Электронной накладной (ЭН), по которой товар был получен. </p>
                            <p> Всё это мы делаем, несмотря на то, что по законодательству Украины ювелирные изделия входят в список НЕ подлежащих возврату и обмену! Мы не сомневаемся в качестве нашей продукции!</p>
                        </div>
                    </div>
                    <div class="faq__item">
                        <div class="faq__quest" data-dropdown-btn>
                            <p>Могу ли я быть уверен(а), что ювелирное изделие, которое я приобретаю,
                                настоящее?</p>
                            <button class="faq__btn faq__btn--plus"><svg><use xlink:href="#plus"></use></svg></button>
                            <button class="faq__btn faq__btn--minus"><svg><use xlink:href="#minus"></use></svg></button>
                        </div>
                        <div class="faq__answer" data-dropdown-box>
                            <p>Мы уверены, что вам понравятся изделия, которые Вы у нас купите. Тем не менее, если у Вас есть хоть малейшие сомнения - мы даем Вам возможность вернуть или обменять изделие в течении 14 дней со дня покупки. </p>
                            <p> Если изделие было доставлено "Новой Почтой", Вы можете легко вернуть его из любого отделения, просто сообщив оператору номер Электронной накладной (ЭН), по которой товар был получен. </p>
                            <p> Всё это мы делаем, несмотря на то, что по законодательству Украины ювелирные изделия входят в список НЕ подлежащих возврату и обмену! Мы не сомневаемся в качестве нашей продукции!</p>
                        </div>
                    </div>
                    <div class="faq__item">
                        <div class="faq__quest" data-dropdown-btn>
                            <p>Могу ли я быть уверен(а), что ювелирное изделие, которое я приобретаю,
                                настоящее?</p>
                            <button class="faq__btn faq__btn--plus"><svg><use xlink:href="#plus"></use></svg></button>
                            <button class="faq__btn faq__btn--minus"><svg><use xlink:href="#minus"></use></svg></button>
                        </div>
                        <div class="faq__answer" data-dropdown-box>
                            <p>Мы уверены, что вам понравятся изделия, которые Вы у нас купите. Тем не менее, если у Вас есть хоть малейшие сомнения - мы даем Вам возможность вернуть или обменять изделие в течении 14 дней со дня покупки. </p>
                            <p> Если изделие было доставлено "Новой Почтой", Вы можете легко вернуть его из любого отделения, просто сообщив оператору номер Электронной накладной (ЭН), по которой товар был получен. </p>
                            <p> Всё это мы делаем, несмотря на то, что по законодательству Украины ювелирные изделия входят в список НЕ подлежащих возврату и обмену! Мы не сомневаемся в качестве нашей продукции!</p>
                        </div>
                    </div>
                    <div class="faq__showmore" data-dropdown-btn>Смотреть все вопросы </div>
                    <div class="faq__hidden" data-dropdown-box>
                        <div class="faq__item">
                            <div class="faq__quest" data-dropdown-btn>
                                <p>Могу ли я быть уверен(а), что ювелирное изделие, которое я приобретаю,
                                    настоящее?</p>
                                <button class="faq__btn faq__btn--plus"><svg><use xlink:href="#plus"></use></svg></button>
                                <button class="faq__btn faq__btn--minus"><svg><use xlink:href="#minus"></use></svg></button>
                            </div>
                            <div class="faq__answer" data-dropdown-box>
                                <p>Мы уверены, что вам понравятся изделия, которые Вы у нас купите. Тем не менее, если у Вас есть хоть малейшие сомнения - мы даем Вам возможность вернуть или обменять изделие в течении 14 дней со дня покупки. </p>
                                <p> Если изделие было доставлено "Новой Почтой", Вы можете легко вернуть его из любого отделения, просто сообщив оператору номер Электронной накладной (ЭН), по которой товар был получен. </p>
                                <p> Всё это мы делаем, несмотря на то, что по законодательству Украины ювелирные изделия входят в список НЕ подлежащих возврату и обмену! Мы не сомневаемся в качестве нашей продукции!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        //= partials/prebot.html
    </div>
    //= partials/hidden-block.html
    //= partials/footer.html
</div>
</body>
</html>