//= partials/head.html

<div class="global-wrapper">
    //= partials/header.html
    <div class="main">
        <div class="mbox">
            <div class="title">
                <h1>Страниц список</h1>
            </div>
            <ul>
                <li><br><a href="main.html">Головна</a></li>
                <li><br><a href="catalog.html">Каталог</a></li>
                <li><br><a href="card.html">Карточка</a></li>
                <li><br><a href="basket.html">Корзина</a></li>
                <li><br><a href="contacts.html">Контакты</a></li>
                <li><br><a href="faq.html">faq</a></li>
                <li><br><a href="404.html">404</a></li>
                <li><br><a href="thanks.html">thanks</a></li>
                <li><br><a href="info.html">info</a></li>
                <li><br><a href="search.html">search</a></li>
                <li><br><a href="empty_search.html">empty search</a></li>
            </ul>
            <br>
            <hr>
            <div class="title">
                <h1>popup</h1>
            </div>
            <ul>
                <li><a href="#basketpop" data-fancybox>basketpop</a></li>
            </ul>
            <hr>
            <div class="title">
                <h1>содержимое спрайта</h1>
            </div>
            <div class="svg-container"></div>
        </div>
        <div class="title">
            <h1>ui kit</h1>
        </div>
        <div class="mbox">
            <h2>BUTTONS</h2>
            <div class="row">
                <a href="#" class="btn">Подписаться</a>
                <a href="#" class="btn">Подписаться</a>
            </div>
            <div class="row">
                <a href="#" class="btn btn--pic">
                    <div class="pic">
                        <svg>
                            <use xlink:href="#viber"></use>
                        </svg>
                    </div>
                    Viber
                </a>
            </div>
            <div class="row">
                <a href="#" class="btn btn--stash">В корзину</a>
            </div>
            <div class="row">
                <a href="#" class="btn btn--green">В корзину</a>
            </div>
        </div>
        <div class="mbox">
            <h2>TABS</h2>
            <div class="tabs">
                <div class="tabs__head">
                    <a href="#" class="tabs__link active">Описание</a>
                    <a href="#" class="tabs__link">Упаковка</a>
                    <a href="#" class="tabs__link">Доставка</a>
                </div>
                <div class="tabs__body">
                    <div class="tabs__item active">
                        Описание
                    </div>
                    <div class="tabs__item">
                        Упаковка
                    </div>
                    <div class="tabs__item">
                        Доставка
                    </div>
                </div>
            </div>
        </div>
        <div class="mbox">
            <h2>Text + pictures</h2>
            <div class="article__block">
                <div class="article__col article__text">
                    <p>
                        Этюдник (французский мольберт) — это мольберт для пленэров
                        с отделением для хранения и переноски красок, кистей и других материалов. Простой этюдник представляет собой коробку с откидной крышкой и защелкой, а более удобный — имеет ножки, чтобы художник работал стоя. К портативному мольберту предъявляют много требований: функциональность, вместительность, легкий вес, устойчивость на неровном
                        грунте или в непогоду.</p>
                </div>
                <div class="article__col article__image">
                    <img src="images/demo/slide_1.jpg" alt="pic">
                </div>
            </div>
            <div class="article__block article__block--rtl">
                <div class="article__col article__text">
                    <p>
                        Этюдник (французский мольберт) — это мольберт для пленэров
                        с отделением для хранения и переноски красок, кистей и других материалов. Простой этюдник представляет собой коробку с откидной крышкой и защелкой, а более удобный — имеет ножки, чтобы художник работал стоя. К портативному мольберту предъявляют много требований: функциональность, вместительность, легкий вес, устойчивость на неровном
                        грунте или в непогоду.</p>
                </div>
                <div class="article__col article__image">
                    <img src="images/demo/slide_1.jpg" alt="pic">
                </div>
            </div>
            <div class="article__block article__vertical">
                <div class="article__col article__text">
                    <p>
                        Этюдник (французский мольберт) — это мольберт для пленэров
                        с отделением для хранения и переноски красок, кистей и других материалов. Простой этюдник представляет собой коробку с откидной крышкой и защелкой, а более удобный — имеет ножки, чтобы художник работал стоя. К портативному мольберту предъявляют много требований: функциональность, вместительность, легкий вес, устойчивость на неровном
                        грунте или в непогоду.</p>
                </div>
                <div class="article__col article__image">
                    <img src="images/demo/slide_1.jpg" alt="pic">
                </div>
                <div class="article__col article__text">
                    <p>
                        Этюдник (французский мольберт) — это мольберт для пленэров
                        с отделением для хранения и переноски красок, кистей и других материалов. Простой этюдник представляет собой коробку с откидной крышкой и защелкой, а более удобный — имеет ножки, чтобы художник работал стоя. К портативному мольберту предъявляют много требований: функциональность, вместительность, легкий вес, устойчивость на неровном
                        грунте или в непогоду.</p>
                </div>
            </div>
        </div>
        <section class="quote white-bg">
            <div class="mbox">
                <h2>QUOTE</h2>
                <div class="quote__box">
                    <q><p>Красота — это вечность,</p>  <p>     длящаяся <span> МГН<b>Ø</b>ВЕНИЕ.</span></p>
                        <div class="quote__author">АЛЬБЕР КАМЮ</div>
                    </q>
                </div>
            </div>
        </section>
        <section class="gray-bg">
            <div class="mbox">
                <h2>FORMS + </h2>
                <form action="" class="form">
                    <div class="form__row">
                        <input type="text" placeholder="E-mail">
                    </div>
                    <h4>Radio-buttons</h4>
                    <div class="form__row">
                        <label class="styled">
                            <input type="radio" name="payment"> <i></i> <span>Отправка наложенным платежом</span>
                        </label>
                        <label class="styled">
                            <input type="radio" name="payment"> <i></i> <span>Отправка другим платежом</span>
                        </label>
                        <label class="styled">
                            <input type="radio" name="payment"> <i></i> <span>Отправка неасным платежом</span>
                        </label>
                        <label class="styled">
                            <input type="radio" name="payment"> <i></i> <span>Отправка платежом</span>
                        </label>
                    </div>
                    <h4>Check-box</h4>
                    <div class="form__row">
                        <label class="styled">
                            <input type="checkbox"> <i></i> <span>Отправка наложенным платежом</span>
                        </label>
                        <label class="styled">
                            <input type="checkbox"> <i></i> <span>Отправка другим платежом</span>
                        </label>
                        <label class="styled">
                            <input type="checkbox"> <i></i> <span>Отправка неасным платежом</span>
                        </label>
                        <label class="styled">
                            <input type="checkbox"> <i></i> <span>Отправка платежом</span>
                        </label>

                    </div>
                </form>
            </div>
        </section>
        <section class="white-bg">
            <div class="mbox">
                <h2>Fullscreen gallery</h2>
            </div>
            <div class="mbox">
                <div class="gallery">

                    <div class="gallery__main">
                        <div class="js-big-slider gallery__worker">
                            <div class="gallery__previewer">
                                <img src="images/demo/gallery_big_1.jpg" alt="photo" data-object-fit="cover">
                            </div>
                            <div class="gallery__previewer">
                                <img src="images/demo/gallery_big_1.jpg" alt="photo" data-object-fit="cover">
                            </div>
                            <div class="gallery__previewer">
                                <img src="images/demo/gallery_big_1.jpg" alt="photo" data-object-fit="cover">
                            </div>
                            <div class="gallery__previewer">
                                <img src="images/demo/gallery_big_1.jpg" alt="photo" data-object-fit="cover">
                            </div>
                            <div class="gallery__previewer">
                                <img src="images/demo/gallery_big_1.jpg" alt="photo" data-object-fit="cover">
                            </div>
                            <div class="gallery__previewer">
                                <img src="images/demo/gallery_big_1.jpg" alt="photo" data-object-fit="cover">
                            </div>
                            <div class="gallery__previewer">
                                <img src="images/demo/gallery_big_1.jpg" alt="photo" data-object-fit="cover">
                            </div>
                            <div class="gallery__previewer">
                                <img src="images/demo/gallery_big_1.jpg" alt="photo" data-object-fit="cover">
                            </div>
                            <div class="gallery__previewer">
                                <img src="images/demo/gallery_big_1.jpg" alt="photo" data-object-fit="cover">
                            </div>
                            <div class="gallery__previewer">
                                <img src="images/demo/gallery_big_1.jpg" alt="photo" data-object-fit="cover">
                            </div>
                            <div class="gallery__previewer">
                                <img src="images/demo/gallery_big_1.jpg" alt="photo" data-object-fit="cover">
                            </div>
                            <div class="gallery__previewer">
                                <img src="images/demo/gallery_big_1.jpg" alt="photo" data-object-fit="cover">
                            </div>
                            <div class="gallery__previewer">
                                <img src="images/demo/gallery_big_1.jpg" alt="photo" data-object-fit="cover">
                            </div>
                            <div class="gallery__previewer">
                                <img src="images/demo/gallery_big_1.jpg" alt="photo" data-object-fit="cover">
                            </div>
                            <div class="gallery__previewer">
                                <img src="images/demo/gallery_big_1.jpg" alt="photo" data-object-fit="cover">
                            </div>
                        </div>
                    </div>
                    <div class="gallery__controller">
                        <div class="js-small-slider gallery__boss">
                            <div class="gallery__slide">
                                <div class="gallery__info">
                                    <img src="images/demo/little_pic_1.jpg" alt="photo" data-object-fit="cover">
                                </div>
                            </div>
                            <div class="gallery__slide">
                                <div class="gallery__info">
                                    <img src="images/demo/little_pic_2.jpg" alt="photo" data-object-fit="cover">
                                </div>
                            </div>
                            <div class="gallery__slide">
                                <div class="gallery__info">
                                    <img src="images/demo/little_pic_3.jpg" alt="photo" data-object-fit="cover">
                                </div>
                            </div>
                            <div class="gallery__slide">
                                <div class="gallery__info">
                                    <img src="images/demo/little_pic_1.jpg" alt="photo" data-object-fit="cover">
                                </div>
                            </div>
                            <div class="gallery__slide">
                                <div class="gallery__info">
                                    <img src="images/demo/little_pic_2.jpg" alt="photo" data-object-fit="cover">
                                </div>
                            </div>
                            <div class="gallery__slide">
                                <div class="gallery__info">
                                    <img src="images/demo/little_pic_3.jpg" alt="photo" data-object-fit="cover">
                                </div>
                            </div>
                            <div class="gallery__slide">
                                <div class="gallery__info">
                                    <img src="images/demo/little_pic_1.jpg" alt="photo" data-object-fit="cover">
                                </div>
                            </div>
                            <div class="gallery__slide">
                                <div class="gallery__info">
                                    <img src="images/demo/little_pic_2.jpg" alt="photo" data-object-fit="cover">
                                </div>
                            </div>
                            <div class="gallery__slide">
                                <div class="gallery__info">
                                    <img src="images/demo/little_pic_3.jpg" alt="photo" data-object-fit="cover">
                                </div>
                            </div>
                            <div class="gallery__slide">
                                <div class="gallery__info">
                                    <img src="images/demo/little_pic_1.jpg" alt="photo" data-object-fit="cover">
                                </div>
                            </div>
                            <div class="gallery__slide">
                                <div class="gallery__info">
                                    <img src="images/demo/little_pic_2.jpg" alt="photo" data-object-fit="cover">
                                </div>
                            </div>
                            <div class="gallery__slide">
                                <div class="gallery__info">
                                    <img src="images/demo/little_pic_3.jpg" alt="photo" data-object-fit="cover">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="gray-bg">
            <div class="mbox">
                <h2>Half slider</h2>
            </div>
            <div class="mbox">
                <div class="gallery gallery--half">
                    <div class="gallery__main">
                        <div class="js-big-slider-half gallery__worker">
                            <div class="gallery__previewer">
                                <img src="images/demo/gallery_big_1.jpg" alt="photo" data-object-fit="cover">
                            </div>
                            <div class="gallery__previewer">
                                <img src="images/demo/gallery_big_1.jpg" alt="photo" data-object-fit="cover">
                            </div>
                            <div class="gallery__previewer">
                                <img src="images/demo/gallery_big_1.jpg" alt="photo" data-object-fit="cover">
                            </div>
                            <div class="gallery__previewer">
                                <img src="images/demo/gallery_big_1.jpg" alt="photo" data-object-fit="cover">
                            </div>
                            <div class="gallery__previewer">
                                <img src="images/demo/gallery_big_1.jpg" alt="photo" data-object-fit="cover">
                            </div>
                            <div class="gallery__previewer">
                                <img src="images/demo/gallery_big_1.jpg" alt="photo" data-object-fit="cover">
                            </div>
                            <div class="gallery__previewer">
                                <img src="images/demo/gallery_big_1.jpg" alt="photo" data-object-fit="cover">
                            </div>
                            <div class="gallery__previewer">
                                <img src="images/demo/gallery_big_1.jpg" alt="photo" data-object-fit="cover">
                            </div>
                            <div class="gallery__previewer">
                                <img src="images/demo/gallery_big_1.jpg" alt="photo" data-object-fit="cover">
                            </div>
                            <div class="gallery__previewer">
                                <img src="images/demo/gallery_big_1.jpg" alt="photo" data-object-fit="cover">
                            </div>
                            <div class="gallery__previewer">
                                <img src="images/demo/gallery_big_1.jpg" alt="photo" data-object-fit="cover">
                            </div>
                            <div class="gallery__previewer">
                                <img src="images/demo/gallery_big_1.jpg" alt="photo" data-object-fit="cover">
                            </div>
                            <div class="gallery__previewer">
                                <img src="images/demo/gallery_big_1.jpg" alt="photo" data-object-fit="cover">
                            </div>
                            <div class="gallery__previewer">
                                <img src="images/demo/gallery_big_1.jpg" alt="photo" data-object-fit="cover">
                            </div>
                            <div class="gallery__previewer">
                                <img src="images/demo/gallery_big_1.jpg" alt="photo" data-object-fit="cover">
                            </div>
                        </div>
                    </div>
                    <div class="gallery__controller">
                        <div class="js-small-slider-half gallery__boss">
                            <div class="gallery__slide">
                                <div class="gallery__info">
                                    <img src="images/demo/little_pic_1.jpg" alt="photo" data-object-fit="cover">
                                </div>
                            </div>
                            <div class="gallery__slide">
                                <div class="gallery__info">
                                    <img src="images/demo/little_pic_2.jpg" alt="photo" data-object-fit="cover">
                                </div>
                            </div>
                            <div class="gallery__slide">
                                <div class="gallery__info">
                                    <img src="images/demo/little_pic_3.jpg" alt="photo" data-object-fit="cover">
                                </div>
                            </div>
                            <div class="gallery__slide">
                                <div class="gallery__info">
                                    <img src="images/demo/little_pic_1.jpg" alt="photo" data-object-fit="cover">
                                </div>
                            </div>
                            <div class="gallery__slide">
                                <div class="gallery__info">
                                    <img src="images/demo/little_pic_2.jpg" alt="photo" data-object-fit="cover">
                                </div>
                            </div>
                            <div class="gallery__slide">
                                <div class="gallery__info">
                                    <img src="images/demo/little_pic_3.jpg" alt="photo" data-object-fit="cover">
                                </div>
                            </div>
                            <div class="gallery__slide">
                                <div class="gallery__info">
                                    <img src="images/demo/little_pic_1.jpg" alt="photo" data-object-fit="cover">
                                </div>
                            </div>
                            <div class="gallery__slide">
                                <div class="gallery__info">
                                    <img src="images/demo/little_pic_2.jpg" alt="photo" data-object-fit="cover">
                                </div>
                            </div>
                            <div class="gallery__slide">
                                <div class="gallery__info">
                                    <img src="images/demo/little_pic_3.jpg" alt="photo" data-object-fit="cover">
                                </div>
                            </div>
                            <div class="gallery__slide">
                                <div class="gallery__info">
                                    <img src="images/demo/little_pic_1.jpg" alt="photo" data-object-fit="cover">
                                </div>
                            </div>
                            <div class="gallery__slide">
                                <div class="gallery__info">
                                    <img src="images/demo/little_pic_2.jpg" alt="photo" data-object-fit="cover">
                                </div>
                            </div>
                            <div class="gallery__slide">
                                <div class="gallery__info">
                                    <img src="images/demo/little_pic_3.jpg" alt="photo" data-object-fit="cover">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="mbox">
                <h2>Pagination</h2>
                <div class="pagination">
                    <ul class="pagination__list">
                        <li><a href="#" class="pagination__page active">1</a></li>
                        <li><a href="#" class="pagination__page">2</a></li>
                        <li><a href="#" class="pagination__page">3</a></li>
                        <li><a href="#" class="pagination__page">4</a></li>
                        <li><a href="#" class="pagination__page">5</a></li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="gray-bg">
            <div class="mbox">
                <h2>Breadcrumbs</h2>
                //= partials/breadcrumbs.html
            </div>
        </section>
        <section style="z-index: 10; position: relative;">
            <div class="mbox">
                <h2>SELECT</h2>
                <div class="selector" style="width: 220px;">
                    <select name="" id="" class="select">
                        <option value="1">Все города</option>
                        <option value="2">Винница</option>
                        <option value="3">Хмельницкий</option>
                        <option value="4">Тернополь</option>
                        <option value="5">Ровно</option>
                        <option value="1">Все города</option>
                        <option value="2">Винница</option>
                        <option value="3">Хмельницкий</option>
                        <option value="4">Тернополь</option>
                        <option value="5">Ровно</option>
                        <option value="1">Все города</option>
                        <option value="2">Винница</option>
                        <option value="3">Хмельницкий</option>
                        <option value="4">Тернополь</option>
                        <option value="5">Ровно</option>
                        <option value="1">Все города</option>
                        <option value="2">Винница</option>
                        <option value="3">Хмельницкий</option>
                        <option value="4">Тернополь</option>
                        <option value="5">Ровно</option>
                        <option value="1">Все города</option>
                        <option value="2">Винница</option>
                        <option value="3">Хмельницкий</option>
                        <option value="4">Тернополь</option>
                        <option value="5">Ровно</option>
                        <option value="1">Все города</option>
                        <option value="2">Винница</option>
                        <option value="3">Хмельницкий</option>
                        <option value="4">Тернополь</option>
                        <option value="5">Ровно</option>
                        <option value="1">Все города</option>
                        <option value="2">Винница</option>
                        <option value="3">Хмельницкий</option>
                        <option value="4">Тернополь</option>
                        <option value="5">Ровно</option>
                        <option value="1">Все города</option>
                        <option value="2">Винница</option>
                        <option value="3">Хмельницкий</option>
                        <option value="4">Тернополь</option>
                        <option value="5">Ровно</option>
                        <option value="1">Все города</option>
                        <option value="2">Винница</option>
                        <option value="3">Хмельницкий</option>
                        <option value="4">Тернополь</option>
                        <option value="5">Ровно</option>
                    </select>
                </div>
            </div>
        </section>
        <section>
            <div class="mbox">
                <h2>LINKS</h2>
                <a href="#" class="link">www.oniks.ua</a>
                <a href="#" class="link">www.oniks.ua</a>
                <a href="#" class="link">www.oniks.ua</a>
                <a href="#" class="link">www.oniks.ua</a>
            </div>
        </section>
        <section>
            <div class="mbox">
                <h2>VALIDATES</h2>
                <div class="validate">
                    <div id="val-form">
                        <form action="" name="" class="contact-form" style="max-width: 300px;">
                            <div class="contact-form-title">
                                <!--<h5>Lorem ipsum dolor.</h5>-->
                            </div>
                            <div class="contact-form-row cfix">
                                <div class="contact-form-item">
                                    <div class="contact-form-item-input form_row">
                                        <div class="form_input">
                                            <input type="text" name="contact_name" required="required" value="" placeholder="Ваше Имя">
                                        </div>
                                    </div>
                                </div>
                                <div class="contact-form-item">
                                    <div class="contact-form-item-input form_row">
                                        <div class="form_input">
                                            <input type="email" name="contact_mail" value="" required="required" placeholder="E-mail">
                                        </div>
                                    </div>
                                </div>
                                <div class="contact-form-item">
                                    <div class="contact-form-item-input form_row">
                                        <div class="form_input">
                                            <input type="text" name="contact_tel" value="" required="required" placeholder="Ваш номер" class="tel-mask">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="contact-form-row cfix">
                                <div class="contact-form-item">
                                    <button type="submit" class="contact-submit btn">
                                        <span>Отправить заявку</span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="mbox">
                <h2>TABLE</h2>
                <div class="table">
                    <table>
                        <tr>
                            <td>Артикул</td>
                            <td>с05188</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>Покрытие</td>
                            <td>Без покрытия</td>
                        </tr>
                        <tr>
                            <td>Производитель</td>
                            <td>Ювелирный завод "Оникс", г. Хмельницкий</td>
                        </tr>
                    </table>
                </div>
            </div>
        </section>
        <section class="insta">
            <div class="mbox">
                <div class="insta__text">
                    <p>Подписывайтесь на наш Instagram: <a href="#"> @mono_jewellery </a></p>
                </div>

            </div>
            <div class="mbox">
                <div class="insta__box">
                    <div class="insta__slider js-insta-slider">
                        <div class="insta__slide">
                            <div class="insta__info">
                                <img src="images/demo/insta_1.jpg" alt="inst">
                            </div>
                        </div>
                        <div class="insta__slide">
                            <div class="insta__info">
                                <img src="images/demo/insta_2.jpg" alt="inst">
                            </div>
                        </div>
                        <div class="insta__slide">
                            <div class="insta__info">
                                <img src="images/demo/insta_3.jpg" alt="inst">
                            </div>
                        </div>
                        <div class="insta__slide">
                            <div class="insta__info">
                                <img src="images/demo/insta_4.jpg" alt="inst">
                            </div>
                        </div>
                        <div class="insta__slide">
                            <div class="insta__info">
                                <img src="images/demo/insta_1.jpg" alt="inst">
                            </div>
                        </div>
                        <div class="insta__slide">
                            <div class="insta__info">
                                <img src="images/demo/insta_2.jpg" alt="inst">
                            </div>
                        </div>
                        <div class="insta__slide">
                            <div class="insta__info">
                                <img src="images/demo/insta_3.jpg" alt="inst">
                            </div>
                        </div>
                        <div class="insta__slide">
                            <div class="insta__info">
                                <img src="images/demo/insta_4.jpg" alt="inst">
                            </div>
                        </div>
                        <div class="insta__slide">
                            <div class="insta__info">
                                <img src="images/demo/insta_1.jpg" alt="inst">
                            </div>
                        </div>
                        <div class="insta__slide">
                            <div class="insta__info">
                                <img src="images/demo/insta_2.jpg" alt="inst">
                            </div>
                        </div>
                        <div class="insta__slide">
                            <div class="insta__info">
                                <img src="images/demo/insta_3.jpg" alt="inst">
                            </div>
                        </div>
                        <div class="insta__slide">
                            <div class="insta__info">
                                <img src="images/demo/insta_4.jpg" alt="inst">
                            </div>
                        </div>
                        <div class="insta__slide">
                            <div class="insta__info">
                                <img src="images/demo/insta_1.jpg" alt="inst">
                            </div>
                        </div>

                    </div>
                    <div class="insta__controls">
                        <button class="js-insta-back arrow arrow--white">
                            <svg>
                                <use xlink:href="#prev"></use>
                            </svg>
                        </button>
                        <button class="arrow arrow--white arrow--rt js-insta-fwd">
                            <svg>
                                <use xlink:href="#next"></use>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="mbox">
                <h2>ACCENT</h2>
                <div class="accent">
                    <div class="accent__text">
                        Золотая неделя в M<span>Ø</span>NO
                        ДО -25% НА ВСЁ ЗОЛОТО!
                    </div>
                </div>
            </div>
        </section>
    </div>
    //= partials/hidden-block.html
    //= partials/footer.html
    <style>
        .svg-container{display: flex;justify-content: space-between; align-items: flex-start; flex-wrap: wrap;border: 1px solid #0f0f11;}
        .svg-container div{width: 200px; padding: 10px; border: 1px solid #0f0f11; flex-grow: 1;}
        .svg-container svg{width: 100%;}
    </style>
    <script>
        $(document).ready(function(){
            $('body>svg symbol').each(function(){
                var id = $(this).attr('id');
                var div = document.createElement('div');
                $(div).html('<svg><use xlink:href="#'+id+'"></use></svg><p>#'+id+'</p>');
                $('.svg-container').append(div);
            });
        });
    </script>
</div>
</body>
</html>