//= partials/head.html

<div class="global-wrapper">
    //= partials/header.html
    <div class="main">
        <section>
            <div class="mbox">
                //= partials/breadcrumbs.html
                <div class="title">
                    <h1>О магазине</h1>
                </div>

                <p>Мы рады приветствовать вас на сайте нашей компании.</p>

                <p>Наша компания была основана в 1993 году, а наш интернет-магазин стал одним из первых магазинов, осуществляющих on-line продажу одежды в регионе. Компания специализируется на оптовой и розничной продаже одежды как для дома, так и для офиса.</p>

                <p>На данный момент мы представляем собой крупную компанию, владеющую интернет–магазином и имеющую в своей сети единый call-центр, который регулирует всю деятельность магазина, отдел продаж, службу доставки, широкий штат квалифицированных сборщиков, собственный склад c постоянным наличием необходимого запаса товаров.</p>

                <p>За это время у нас сложились партнерские отношения с ведущими производителями, позволяющие предлагать высококачественную продукцию по конкурентоспособным ценам.</p>

                <p>Мы можем гордиться тем, что у нас один из самых широких ассортиментов одежды в городе и области. </p>

                <h2>Наши возможности</h2>

                <ul class="bxe-list bxe-lis-blue">
                    <li><i class="fa fa-check"></i> <span style="font-size:13px;">Быстрая доставка</span></li>
                    <li><i class="fa fa-check"></i> <span style="font-size:13px;">Низкие цены</span></li>
                    <li><i class="fa fa-check"></i> <span style="font-size:13px;">Широкий ассортимент</span></li>
                    <li><i class="fa fa-check"></i> <span style="font-size:13px;">Бонусы и подарки</span></li>
                </ul>

                <ul class="bxe-list bxe-lis-blue">
                    <li><i class="fa fa-check"></i> <span style="font-size:13px;">Отличное обслуживаение</span></li>
                    <li><i class="fa fa-check"></i> <span style="font-size:13px;">Профессиональный менеджеры</span></li>
                    <li><i class="fa fa-check"></i> <span style="font-size:13px;">Гарантия на все товары</span></li>
                    <li><i class="fa fa-check"></i> <span style="font-size:13px;">Надежные поставщики</span></li>
                </ul>

                <ul class="bxe-list bxe-lis-blue">
                    <li><i class="fa fa-check"></i> <span style="font-size:13px;">Сезонные скидки</span></li>
                    <li><i class="fa fa-check"></i> <span style="font-size:13px;">Программа лояльности</span></li>
                    <li><i class="fa fa-check"></i> <span style="font-size:13px;">Карты постоянных клиентов</span></li>
                </ul>

                <br>
                <p>Мы всегда рады общению с нашими клиентами. Если у вас есть какие-либо пожелания, предложения, замечания, касающиеся работы нашего Интернет-магазина - пишите нам, и мы с благодарностью примем ваше мнение во внимание:</p>
                <p><b>Электронная почта</b>: <a href="mailto:sale@mono.devplace.info">sale@mono.devplace.info</a></p>

            </div>
        </section>
        //= partials/prebot.html
    </div>
    //= partials/hidden-block.html
    //= partials/footer.html
</div>
</body>
</html>