//= partials/head.html

<div class="global-wrapper">
    //= partials/header.html

    <div class="main addbg">
        <section class="slider__box">
            <div class="slider js-main-slider">
                <div class="slide">
                    <div class="mbox">
                        <div class="slide__body">
                            <div class="slide__info">
                                <div class="slide__contrast">
                                    <img src="images/circle.png" alt="circle">
                                </div>
                                <span class="slide-title">Подвеска Серце</span>
                                <div class="slide__subhead">
                                    <span>Поверхность покрыта защитным шаром родия, благодаря чему можно не бояться окисления. Подвеска подчеркнет изящность ключиц</span>
                                </div>
                                <a href="#" class="btn btn--slider">
                                    <span>Подробнее</span>
                                    <div class="btn__img">
                                        <svg>
                                            <use xlink:href="#arrow_right"></use>
                                        </svg>
                                    </div>

                                </a>

                            </div>
                            <div class="slider__arrows">
                                <button class="js-go-back arrow">
                                    <svg>
                                        <use xlink:href="#prev"></use>
                                    </svg>
                                </button>
                                <button class="js-go-forward arrow arrow--rt">
                                    <svg>
                                        <use xlink:href="#next"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="slide__image">
                        <img src="images/demo/slide_1.jpg" alt="photo" data-object-fit="cover">
                        <img src="images/demo/mini_1.jpg" alt="photo" data-object-fit="cover">
                    </div>
                </div>
                <div class="slide">
                    <div class="mbox">
                        <div class="slide__body">
                            <div class="slide__info">
                                <div class="slide__contrast">
                                    <img src="images/circle.png" alt="circle">
                                </div>
                                <span class="slide-title">Подвеска Серце</span>
                                <div class="slide__subhead">
                                    <span>Поверхность покрыта защитным шаром родия, благодаря чему можно не бояться окисления. Подвеска подчеркнет изящность ключиц</span>
                                </div>
                                <a href="#" class="btn btn--slider">
                                    <span>Подробнее</span>
                                    <div class="btn__img">
                                        <svg>
                                            <use xlink:href="#arrow_right"></use>
                                        </svg>
                                    </div>
                                </a>
                            </div>
                            <div class="slider__arrows">
                                <button class="js-go-back arrow">
                                    <svg>
                                        <use xlink:href="#prev"></use>
                                    </svg>
                                </button>
                                <button class="js-go-forward arrow arrow--rt" >
                                    <svg>
                                        <use xlink:href="#next"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="slide__image">
                        <img src="images/demo/slide_2.jpg" alt="photo" data-object-fit="cover">
                        <img src="images/demo/mini_2.jpg" alt="photo" data-object-fit="cover">
                    </div>

                </div>
                <div class="slide">
                    <div class="mbox">
                        <div class="slide__body">
                            <div class="slide__info">
                                <div class="slide__contrast">
                                    <img src="images/circle.png" alt="circle">
                                </div>
                                <span class="slide-title">Подвеска Серце</span>
                                <div class="slide__subhead">
                                    <span>Поверхность покрыта защитным шаром родия, благодаря чему можно не бояться окисления. Подвеска подчеркнет изящность ключиц</span>
                                </div>
                                <a href="#" class="btn btn--slider">
                                    <span>Подробнее</span>
                                    <div class="btn__img">
                                        <svg>
                                            <use xlink:href="#arrow_right"></use>
                                        </svg>
                                    </div>
                                </a>
                            </div>
                            <div class="slider__arrows">
                                <button class="js-go-back arrow">
                                    <svg>
                                        <use xlink:href="#prev"></use>
                                    </svg>
                                </button>
                                <button class="js-go-forward arrow arrow--rt" >
                                    <svg>
                                        <use xlink:href="#next"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="slide__image">
                        <img src="images/demo/slide_3.jpg" alt="photo" data-object-fit="cover">
                        <img src="images/demo/mini_3.jpg" alt="photo" data-object-fit="cover">
                    </div>

                </div>
            </div>
        </section>

        <section class="squares">
            <div class="mbox">
                <div class="squares__wrap">
                    <div class="squares__item">
                        <div class="squares__box">
                            <div class="squares__image">
                                <img src="images/demo/sq_1.jpg" alt="">
                            </div>
                            <span class="squares__text">
                             <span>Серьги</span>
                         </span>
                            <div class="back">
                                <div class="back__box">
                                    <a href="#" class="back__link">Серебро</a>
                                    <a href="#" class="back__link">Золото</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="squares__item">
                        <div class="squares__box">
                            <div class="squares__image">
                                <img src="images/demo/sq_2.jpg" alt="">
                            </div>
                            <span class="squares__text">
                             <span>Серьги</span>
                         </span>
                            <div class="back">
                                <div class="back__box">
                                    <a href="#" class="back__link">Серебро</a>
                                    <a href="#" class="back__link">Золото</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="squares__item">
                        <div class="squares__box">
                            <div class="squares__image">
                                <img src="images/demo/sq_3.jpg" alt="">
                            </div>
                            <span class="squares__text">
                             <span>Серьги</span>
                         </span>
                            <div class="back">
                                <div class="back__box">
                                    <a href="#" class="back__link">Серебро</a>
                                    <a href="#" class="back__link">Золото</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="squares__item">
                        <div class="squares__box">
                            <div class="squares__image">
                                <img src="images/demo/sq_1.jpg" alt="">
                            </div>
                            <span class="squares__text">
                             <span>Серьги</span>
                         </span>
                            <div class="back">
                                <div class="back__box">
                                    <a href="#" class="back__link">Серебро</a>
                                    <a href="#" class="back__link">Золото</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="squares__item">
                        <div class="squares__box">
                            <div class="squares__image">
                                <img src="images/demo/sq_2.jpg" alt="">
                            </div>
                            <span class="squares__text">
                             <span>Серьги</span>
                         </span>
                            <div class="back">
                                <div class="back__box">
                                    <a href="#" class="back__link">Серебро</a>
                                    <a href="#" class="back__link">Золото</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="squares__item">
                        <div class="squares__box">
                            <div class="squares__image">
                                <img src="images/demo/sq_3.jpg" alt="">
                            </div>
                            <span class="squares__text">
                             <span>Серьги</span>
                         </span>
                            <div class="back">
                                <div class="back__box">
                                    <a href="#" class="back__link">Серебро</a>
                                    <a href="#" class="back__link">Золото</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="quote">
            <div class="mbox">
                <div class="quote__box">
                    <q><p>Красота — это вечность,</p>  <p>     длящаяся <span> МГН<b>Ø</b>ВЕНИЕ.</span></p>
                        <div class="quote__author">АЛЬБЕР КАМЮ</div>
                    </q>
                </div>
            </div>
        </section>

        <section class="tops">
            <div class="mbox">
                <div class="tops__wrap">
                    <a href="#" class="tops__item">
                        <img src="images/demo/top_1.jpg" alt="pic" data-object-fit="cover">
                        <div class="tops__text">
                            <span>ТОП 30 украшений сезона весна-лето 2019</span>
                        </div>
                    </a>
                    <a href="#" class="tops__item">
                        <img src="images/demo/top_2.jpg" alt="pic" data-object-fit="cover">
                        <div class="tops__text">
                            <span>50 идей для подарка к дню святого валентина</span>
                        </div>
                    </a>
                    <a href="#" class="tops__item">
                        <img src="images/demo/top_3.jpg" alt="pic" data-object-fit="cover">
                        <div class="tops__text tops__text--black">
                            <span>Уход за украшениями</span>
                        </div>
                    </a>
                    <a href="#" class="tops__item">
                        <img src="images/demo/top_4.jpg" alt="pic" data-object-fit="cover">
                        <div class="tops__text">
                            <span>Традиционные Украшения разных народов</span>
                        </div>
                    </a>
                    <a href="#" class="tops__item">
                        <img src="images/demo/top_5.jpg" alt="pic" data-object-fit="cover">
                        <div class="tops__text tops__text--black">
                            <span>Кастомные гравировки</span>
                        </div>
                    </a>
                </div>
            </div>
        </section>

        <section class="insta">
            <div class="mbox">
                <div class="insta__text">
                    <p>Подписывайтесь на наш Instagram: <a href="#"> @mono_jewellery </a></p>
                </div>

            </div>
            <div class="mbox">
                <div class="insta__box">
                    <div class="insta__slider js-insta-slider">
                        <div class="insta__slide">
                            <div class="insta__info">
                                <img src="images/demo/insta_1.jpg" alt="inst">
                            </div>
                        </div>
                        <div class="insta__slide">
                            <div class="insta__info">
                                <img src="images/demo/insta_2.jpg" alt="inst">
                            </div>
                        </div>
                        <div class="insta__slide">
                            <div class="insta__info">
                                <img src="images/demo/insta_3.jpg" alt="inst">
                            </div>
                        </div>
                        <div class="insta__slide">
                            <div class="insta__info">
                                <img src="images/demo/insta_4.jpg" alt="inst">
                            </div>
                        </div>
                        <div class="insta__slide">
                            <div class="insta__info">
                                <img src="images/demo/insta_1.jpg" alt="inst">
                            </div>
                        </div>
                        <div class="insta__slide">
                            <div class="insta__info">
                                <img src="images/demo/insta_2.jpg" alt="inst">
                            </div>
                        </div>
                        <div class="insta__slide">
                            <div class="insta__info">
                                <img src="images/demo/insta_3.jpg" alt="inst">
                            </div>
                        </div>
                        <div class="insta__slide">
                            <div class="insta__info">
                                <img src="images/demo/insta_4.jpg" alt="inst">
                            </div>
                        </div>
                        <div class="insta__slide">
                            <div class="insta__info">
                                <img src="images/demo/insta_1.jpg" alt="inst">
                            </div>
                        </div>
                        <div class="insta__slide">
                            <div class="insta__info">
                                <img src="images/demo/insta_2.jpg" alt="inst">
                            </div>
                        </div>
                        <div class="insta__slide">
                            <div class="insta__info">
                                <img src="images/demo/insta_3.jpg" alt="inst">
                            </div>
                        </div>
                        <div class="insta__slide">
                            <div class="insta__info">
                                <img src="images/demo/insta_4.jpg" alt="inst">
                            </div>
                        </div>
                        <div class="insta__slide">
                            <div class="insta__info">
                                <img src="images/demo/insta_1.jpg" alt="inst">
                            </div>
                        </div>

                    </div>
                    <div class="insta__controls">
                        <button class="js-insta-back arrow arrow--white">
                            <svg>
                                <use xlink:href="#prev"></use>
                            </svg>
                        </button>
                        <button class="arrow arrow--white arrow--rt js-insta-fwd">
                            <svg>
                                <use xlink:href="#next"></use>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </section>

        <section class="seo">
            <div class="mbox">
                <div class="seo__wrap">
                    <div class="seo__text">
                        <p> Благородный металл серебряного цвета весьма требователен: он легко царапается и покрывается налетом, если хранить его в неподходящих условиях.Именно поэтому нужно придерживаться нескольких правил по уходу за драгоценностями, благодаря которым вы сможете сохранить их внешний вид.</p>
                        <p>Прежде всего, снимайте кольца во время занятий спортом, готовки и уборки. Это позволит избежать появления царапин. Кроме того, не забывайте украшения в ванной комнате: продолжительное нахождение в сыром помещении приведет к окислению металла. Это не касается морской воды: длительный контакт серебряных изделий с ней никак не отразится на их состоянии.</p>
                        <p> Хранить украшения из серебра лучше в отдельной шкатулке с мягкой внутренней отделкой. Однако помните: скидывать все украшения на кучу нельзя. Они могут не только запутаться между собой, но и поцарапаться.</p>
                        <p> Благородный металл серебряного цвета весьма требователен: он легко царапается и покрывается налетом, если хранить его в неподходящих условиях.Именно поэтому нужно придерживаться нескольких правил по уходу за драгоценностями, благодаря которым вы сможете сохранить их внешний вид.</p>
                        <p>Прежде всего, снимайте кольца во время занятий спортом, готовки и уборки. Это позволит избежать появления царапин. Кроме того, не забывайте украшения в ванной комнате: продолжительное нахождение в сыром помещении приведет к окислению металла. Это не касается морской воды: длительный контакт серебряных изделий с ней никак не отразится на их состоянии.</p>
                        <p> Хранить украшения из серебра лучше в отдельной шкатулке с мягкой внутренней отделкой. Однако помните: скидывать все украшения на кучу нельзя. Они могут не только запутаться между собой, но и поцарапаться.</p>
                        <p> Благородный металл серебряного цвета весьма требователен: он легко царапается и покрывается налетом, если хранить его в неподходящих условиях.Именно поэтому нужно придерживаться нескольких правил по уходу за драгоценностями, благодаря которым вы сможете сохранить их внешний вид.</p>
                        <p>Прежде всего, снимайте кольца во время занятий спортом, готовки и уборки. Это позволит избежать появления царапин. Кроме того, не забывайте украшения в ванной комнате: продолжительное нахождение в сыром помещении приведет к окислению металла. Это не касается морской воды: длительный контакт серебряных изделий с ней никак не отразится на их состоянии.</p>
                        <p> Хранить украшения из серебра лучше в отдельной шкатулке с мягкой внутренней отделкой. Однако помните: скидывать все украшения на кучу нельзя. Они могут не только запутаться между собой, но и поцарапаться.</p>
                        <p> Благородный металл серебряного цвета весьма требователен: он легко царапается и покрывается налетом, если хранить его в неподходящих условиях.Именно поэтому нужно придерживаться нескольких правил по уходу за драгоценностями, благодаря которым вы сможете сохранить их внешний вид.</p>
                        <p>Прежде всего, снимайте кольца во время занятий спортом, готовки и уборки. Это позволит избежать появления царапин. Кроме того, не забывайте украшения в ванной комнате: продолжительное нахождение в сыром помещении приведет к окислению металла. Это не касается морской воды: длительный контакт серебряных изделий с ней никак не отразится на их состоянии.</p>
                        <p> Хранить украшения из серебра лучше в отдельной шкатулке с мягкой внутренней отделкой. Однако помните: скидывать все украшения на кучу нельзя. Они могут не только запутаться между собой, но и поцарапаться.</p>
                        <p> Благородный металл серебряного цвета весьма требователен: он легко царапается и покрывается налетом, если хранить его в неподходящих условиях.Именно поэтому нужно придерживаться нескольких правил по уходу за драгоценностями, благодаря которым вы сможете сохранить их внешний вид.</p>
                        <p>Прежде всего, снимайте кольца во время занятий спортом, готовки и уборки. Это позволит избежать появления царапин. Кроме того, не забывайте украшения в ванной комнате: продолжительное нахождение в сыром помещении приведет к окислению металла. Это не касается морской воды: длительный контакт серебряных изделий с ней никак не отразится на их состоянии.</p>
                        <p> Хранить украшения из серебра лучше в отдельной шкатулке с мягкой внутренней отделкой. Однако помните: скидывать все украшения на кучу нельзя. Они могут не только запутаться между собой, но и поцарапаться.</p>
                        <p> Благородный металл серебряного цвета весьма требователен: он легко царапается и покрывается налетом, если хранить его в неподходящих условиях.Именно поэтому нужно придерживаться нескольких правил по уходу за драгоценностями, благодаря которым вы сможете сохранить их внешний вид.</p>
                        <p>Прежде всего, снимайте кольца во время занятий спортом, готовки и уборки. Это позволит избежать появления царапин. Кроме того, не забывайте украшения в ванной комнате: продолжительное нахождение в сыром помещении приведет к окислению металла. Это не касается морской воды: длительный контакт серебряных изделий с ней никак не отразится на их состоянии.</p>
                        <p> Хранить украшения из серебра лучше в отдельной шкатулке с мягкой внутренней отделкой. Однако помните: скидывать все украшения на кучу нельзя. Они могут не только запутаться между собой, но и поцарапаться.</p>
                        <p> Благородный металл серебряного цвета весьма требователен: он легко царапается и покрывается налетом, если хранить его в неподходящих условиях.Именно поэтому нужно придерживаться нескольких правил по уходу за драгоценностями, благодаря которым вы сможете сохранить их внешний вид.</p>
                        <p>Прежде всего, снимайте кольца во время занятий спортом, готовки и уборки. Это позволит избежать появления царапин. Кроме того, не забывайте украшения в ванной комнате: продолжительное нахождение в сыром помещении приведет к окислению металла. Это не касается морской воды: длительный контакт серебряных изделий с ней никак не отразится на их состоянии.</p>
                        <p> Хранить украшения из серебра лучше в отдельной шкатулке с мягкой внутренней отделкой. Однако помните: скидывать все украшения на кучу нельзя. Они могут не только запутаться между собой, но и поцарапаться.</p>
                        <p> Благородный металл серебряного цвета весьма требователен: он легко царапается и покрывается налетом, если хранить его в неподходящих условиях.Именно поэтому нужно придерживаться нескольких правил по уходу за драгоценностями, благодаря которым вы сможете сохранить их внешний вид.</p>
                        <p>Прежде всего, снимайте кольца во время занятий спортом, готовки и уборки. Это позволит избежать появления царапин. Кроме того, не забывайте украшения в ванной комнате: продолжительное нахождение в сыром помещении приведет к окислению металла. Это не касается морской воды: длительный контакт серебряных изделий с ней никак не отразится на их состоянии.</p>
                        <p> Хранить украшения из серебра лучше в отдельной шкатулке с мягкой внутренней отделкой. Однако помните: скидывать все украшения на кучу нельзя. Они могут не только запутаться между собой, но и поцарапаться.</p>
                        <p> Благородный металл серебряного цвета весьма требователен: он легко царапается и покрывается налетом, если хранить его в неподходящих условиях.Именно поэтому нужно придерживаться нескольких правил по уходу за драгоценностями, благодаря которым вы сможете сохранить их внешний вид.</p>
                        <p>Прежде всего, снимайте кольца во время занятий спортом, готовки и уборки. Это позволит избежать появления царапин. Кроме того, не забывайте украшения в ванной комнате: продолжительное нахождение в сыром помещении приведет к окислению металла. Это не касается морской воды: длительный контакт серебряных изделий с ней никак не отразится на их состоянии.</p>
                        <p> Хранить украшения из серебра лучше в отдельной шкатулке с мягкой внутренней отделкой. Однако помните: скидывать все украшения на кучу нельзя. Они могут не только запутаться между собой, но и поцарапаться.</p>
                        <p> Благородный металл серебряного цвета весьма требователен: он легко царапается и покрывается налетом, если хранить его в неподходящих условиях.Именно поэтому нужно придерживаться нескольких правил по уходу за драгоценностями, благодаря которым вы сможете сохранить их внешний вид.</p>
                        <p>Прежде всего, снимайте кольца во время занятий спортом, готовки и уборки. Это позволит избежать появления царапин. Кроме того, не забывайте украшения в ванной комнате: продолжительное нахождение в сыром помещении приведет к окислению металла. Это не касается морской воды: длительный контакт серебряных изделий с ней никак не отразится на их состоянии.</p>
                        <p> Хранить украшения из серебра лучше в отдельной шкатулке с мягкой внутренней отделкой. Однако помните: скидывать все украшения на кучу нельзя. Они могут не только запутаться между собой, но и поцарапаться.</p>
                        <p> Благородный металл серебряного цвета весьма требователен: он легко царапается и покрывается налетом, если хранить его в неподходящих условиях.Именно поэтому нужно придерживаться нескольких правил по уходу за драгоценностями, благодаря которым вы сможете сохранить их внешний вид.</p>
                        <p>Прежде всего, снимайте кольца во время занятий спортом, готовки и уборки. Это позволит избежать появления царапин. Кроме того, не забывайте украшения в ванной комнате: продолжительное нахождение в сыром помещении приведет к окислению металла. Это не касается морской воды: длительный контакт серебряных изделий с ней никак не отразится на их состоянии.</p>
                        <p> Хранить украшения из серебра лучше в отдельной шкатулке с мягкой внутренней отделкой. Однако помните: скидывать все украшения на кучу нельзя. Они могут не только запутаться между собой, но и поцарапаться.</p>
                        <p> Благородный металл серебряного цвета весьма требователен: он легко царапается и покрывается налетом, если хранить его в неподходящих условиях.Именно поэтому нужно придерживаться нескольких правил по уходу за драгоценностями, благодаря которым вы сможете сохранить их внешний вид.</p>
                        <p>Прежде всего, снимайте кольца во время занятий спортом, готовки и уборки. Это позволит избежать появления царапин. Кроме того, не забывайте украшения в ванной комнате: продолжительное нахождение в сыром помещении приведет к окислению металла. Это не касается морской воды: длительный контакт серебряных изделий с ней никак не отразится на их состоянии.</p>
                        <p> Хранить украшения из серебра лучше в отдельной шкатулке с мягкой внутренней отделкой. Однако помните: скидывать все украшения на кучу нельзя. Они могут не только запутаться между собой, но и поцарапаться.</p>

                    </div>
                </div>
                <div class="seo__arrow js-show-seo"></div>
            </div>
        </section>

        //= partials/prebot.html
    </div>

    //= partials/hidden-block.html
    //= partials/footer.html
</div>
</body>
</html>