//= partials/head.html

<div class="global-wrapper">
    <!-- HEADER -->
    <header>
        <div class="header">
            <div class="header__back">
                <div class="header__inner">
                    <div class="mbox">
                        <div class="header__up">
                            <div class="upper">
                                <div class="upper__left">
                                    <div class="js-menu-caller upper__sticks">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                    <a href="tel:0800750775" class="upper__phone">
                                        <div class="upper__img">
                                            <svg>
                                                <use xlink:href="#phone"></use>
                                            </svg>
                                        </div>
                                        <span>080 075 07 75</span>
                                    </a>
                                </div>

                                <a href="/" class="upper__logo">
                                    <svg>
                                        <use xlink:href="#logo"></use>
                                    </svg>
                                </a>
                                <div class="upper__right">
                                    <div class="search">
                                        <div class="search__box">
                                            <div class="search__input">
                                                <input type="text" placeholder="Поиск">
                                            </div>
                                            <div class="search__result">
                                                <a href="#" class="search__item">
                                                    <div class="search__img"><img src="images/demo/catalog_item_1.jpg" alt=""></div>
                                                    <div class="search__txt">Серебряные серьги  с разноцветными  фианитами</div>
                                                </a>
                                                <a href="#" class="search__item">
                                                    <div class="search__img"><img src="images/demo/catalog_item_1.jpg" alt=""></div>
                                                    <div class="search__txt">Серебряные серьги  с разноцветными  фианитами</div>
                                                </a>
                                                <a href="#" class="search__item">
                                                    <div class="search__img"><img src="images/demo/catalog_item_1.jpg" alt=""></div>
                                                    <div class="search__txt">Серебряные серьги  с разноцветными  фианитами</div>
                                                </a>
                                                <a href="#" class="search__item">
                                                    <div class="search__img"><img src="images/demo/catalog_item_1.jpg" alt=""></div>
                                                    <div class="search__txt">Серебряные серьги  с разноцветными  фианитами</div>
                                                </a>
                                                <a href="#" class="search__item">
                                                    <div class="search__img"><img src="images/demo/catalog_item_1.jpg" alt=""></div>
                                                    <div class="search__txt">Серебряные серьги  с разноцветными  фианитами</div>
                                                </a>
                                                <a href="#" class="search__item">
                                                    <div class="search__img"><img src="images/demo/catalog_item_1.jpg" alt=""></div>
                                                    <div class="search__txt">Серебряные серьги  с разноцветными  фианитами</div>
                                                </a>

                                            </div>
                                            <div class="search__all">
                                                <a href="#">Все результаты</a>
                                            </div>
                                        </div>

                                        <button type="button" class="search__btn">
                                            <svg>
                                                <use xlink:href="#search"></use>
                                            </svg>
                                        </button>
                                    </div>
                                    <div class="stash">
                                        <a href="#" class="stash__button">
                                            <svg>
                                                <use xlink:href="#cart"></use>
                                            </svg>
                                            <span></span>
                                        </a>
                                        <div class="stash__pop">
                                            <div class="stash__container">
                                                <div class="stash__item">
                                                    <div class="stash__img">
                                                        <img src="images/demo/stash_1.jpg" alt="">
                                                    </div>
                                                    <div class="stash__about">
                                                        <p>Золотое кольцо "Сердце и крестик"</p>
                                                        <div class="stash__price">787  грн</div>
                                                    </div>
                                                </div>
                                                <div class="stash__item">
                                                    <div class="stash__img">
                                                        <img src="images/demo/stash_1.jpg" alt="">
                                                    </div>
                                                    <div class="stash__about">
                                                        <p>Золотое кольцо "Сердце и крестик"</p>
                                                        <div class="stash__price">787  грн</div>
                                                    </div>
                                                </div>
                                                <div class="stash__item">
                                                    <div class="stash__img">
                                                        <img src="images/demo/stash_1.jpg" alt="">
                                                    </div>
                                                    <div class="stash__about">
                                                        <p>Золотое кольцо "Сердце и крестик"</p>
                                                        <div class="stash__price">787  грн</div>
                                                    </div>
                                                </div>
                                                <div class="stash__item">
                                                    <div class="stash__img">
                                                        <img src="images/demo/stash_1.jpg" alt="">
                                                    </div>
                                                    <div class="stash__about">
                                                        <p>Золотое кольцо "Сердце и крестик"</p>
                                                        <div class="stash__price">787  грн</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="stash__total">
                                                <div class="stash__summary">
                                                    <p><b>Общая стоимость:</b> 1 287 грн</p>
                                                </div>
                                                <a href="#" class="btn btn--stash">В корзину</a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="menu__wrapper">
                        <div class="mbox">
                            <div class="menu">
                                <div class="menu__closeit">
                                    <div class="catalog__close"><span>Каталог</span></div>
                                </div>
                                <ul class="menu__list">
                                    <li><a href="#" class="firstlevel">Серьги</a>
                                        <ul class="nextlevel">
                                            <li class="nextlevel__back"><div class="backmenu">Серьги </div></li>
                                            <li><a href="#">Первый</a></li>
                                            <li><a href="#">Второй</a></li>
                                            <li><a href="#">Третий</a></li>
                                            <li><a href="#">Пятый</a></li>
                                            <li><a href="#">Шестой</a></li>
                                            <li><a href="#">Седьмой</a></li>
                                            <li><a href="#">Восьмой</a></li>
                                            <li><a href="#">Девятый</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#" class="firstlevel">Кольца</a></li>
                                    <li><a href="#" class="firstlevel">Браслеты</a></li>
                                    <li><a href="#" class="firstlevel">Подвески</a></li>
                                    <li><a href="#" class="firstlevel">Колье</a></li>
                                    <li><a href="#" class="firstlevel">Персонализированные украшения</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- /HEADER -->
    <div class="main">
        <div class="mbox">
            //= partials/breadcrumbs.html
        </div>
        <section class="prebot">
            <div class="mbox">
                <div class="prebot__wrap">
                    <form action="" class="prebot__form" style="width: 100%;">
                        <input type="text" placeholder="Ваша почта" required style="text-align: left;">
                        <button type="submit" class="btn"> <span>Найти</span></button>
                    </form>
                </div>
            </div>
        </section>
        <section class="beforepage">
            <br>
            <div class="mbox">
                <div class="beforepage__wrapper">
                    <div class="beforepage__head">
                        <div class="beforepage__button">
                        </div>
                        <div class="beforepage__header">
                            <h1 class="catalog_h3">Результаты поиска</h1>
                        </div>
                        <div class="beforepage__select">
                            <button class="js-hi-low"><span>Сортировать по цене</span><span>Цена</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="catalog white-bg">
            <div class="mbox">
                <div class="catalog__wrapper">
                    <a href="#" class="catalog__item">
                        <div class="catalog__box">
                            <img src="images/demo/catalog_item_1.jpg" alt="item">
                        </div>
                        <div class="catalog__text">
                            <div class="catalog__name">
                                <span>Серьги Безграничность</span>
                            </div>
                            <div class="catalog__price">
                                <span>480 грн</span>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="catalog__item">
                        <div class="catalog__box">
                            <img src="images/demo/catalog_item_2.jpg" alt="item">
                        </div>
                        <div class="catalog__text">
                            <div class="catalog__name">
                                <span>Серьги Безграничность с лунным камнем</span>
                            </div>
                            <div class="catalog__price">
                                <span>480 грн</span>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="catalog__item">
                        <div class="catalog__box">
                            <img src="images/demo/catalog_item_3.jpg" alt="item">
                        </div>
                        <div class="catalog__text">
                            <div class="catalog__name">
                                <span>Серьги Безграничность</span>
                            </div>
                            <div class="catalog__price">
                                <span>480 грн</span>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="catalog__item">
                        <div class="catalog__box">
                            <img src="images/demo/catalog_item_4.jpg" alt="item">
                        </div>
                        <div class="catalog__text">
                            <div class="catalog__name">
                                <span>Серьги Безграничность</span>
                            </div>
                            <div class="catalog__price">
                                <span>480 грн</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="pagination">
                    <ul class="pagination__list">
                        <li><a href="#" class="pagination__page active">1</a></li>
                        <li><a href="#" class="pagination__page">2</a></li>
                        <li><a href="#" class="pagination__page">3</a></li>
                    </ul>
                </div>
            </div>
        </section>
        //= partials/prebot.html
    </div>
    //= partials/hidden-block.html
    //= partials/footer.html
</div>
</body>
</html>