//= partials/head.html

<div class="global-wrapper">
    //= partials/header.html
    <div class="main main--thanks">
        <div class="dnd"></div>
        <section class="thanks white-bg">
            <div class="thanks__wrap">
                <div class="mbox">
                    <h2>Спасибо за покупку!</h2>
                    <div class="insta__text">
                        <p>Оставайтесь с нами и подписывайтесь на наш Instagram:<a href="#"> @mono_jewellery</a></p>
                    </div>
                </div>
            </div>
        </section>
        <div class="thanks__low">
            <section class="insta">
                <div class="mbox">
                    <div class="insta__box">
                        <div class="insta__slider js-insta-slider">
                            <div class="insta__slide">
                                <div class="insta__info">
                                    <img src="images/demo/insta_1.jpg" alt="inst">
                                </div>
                            </div>
                            <div class="insta__slide">
                                <div class="insta__info">
                                    <img src="images/demo/insta_2.jpg" alt="inst">
                                </div>
                            </div>
                            <div class="insta__slide">
                                <div class="insta__info">
                                    <img src="images/demo/insta_3.jpg" alt="inst">
                                </div>
                            </div>
                            <div class="insta__slide">
                                <div class="insta__info">
                                    <img src="images/demo/insta_4.jpg" alt="inst">
                                </div>
                            </div>
                            <div class="insta__slide">
                                <div class="insta__info">
                                    <img src="images/demo/insta_1.jpg" alt="inst">
                                </div>
                            </div>
                            <div class="insta__slide">
                                <div class="insta__info">
                                    <img src="images/demo/insta_2.jpg" alt="inst">
                                </div>
                            </div>
                            <div class="insta__slide">
                                <div class="insta__info">
                                    <img src="images/demo/insta_3.jpg" alt="inst">
                                </div>
                            </div>
                            <div class="insta__slide">
                                <div class="insta__info">
                                    <img src="images/demo/insta_4.jpg" alt="inst">
                                </div>
                            </div>
                            <div class="insta__slide">
                                <div class="insta__info">
                                    <img src="images/demo/insta_1.jpg" alt="inst">
                                </div>
                            </div>
                            <div class="insta__slide">
                                <div class="insta__info">
                                    <img src="images/demo/insta_2.jpg" alt="inst">
                                </div>
                            </div>
                            <div class="insta__slide">
                                <div class="insta__info">
                                    <img src="images/demo/insta_3.jpg" alt="inst">
                                </div>
                            </div>
                            <div class="insta__slide">
                                <div class="insta__info">
                                    <img src="images/demo/insta_4.jpg" alt="inst">
                                </div>
                            </div>
                            <div class="insta__slide">
                                <div class="insta__info">
                                    <img src="images/demo/insta_1.jpg" alt="inst">
                                </div>
                            </div>

                        </div>
                        <div class="insta__controls">
                            <button class="js-insta-back arrow arrow--white">
                                <svg>
                                    <use xlink:href="#prev"></use>
                                </svg>
                            </button>
                            <button class="arrow arrow--white arrow--rt js-insta-fwd">
                                <svg>
                                    <use xlink:href="#next"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </section>
            <section class="prebot">
                <div class="mbox">
                    <div class="prebot__wrap">
                        <div class="prebot__text">
                            <span>Подпишитесь на рассылку и получите купон на бесплатную доставку</span>
                        </div>
                        <form action="" class="prebot__form">
                            <input type="text" placeholder="Ваша почта" required>
                            <button type="submit" class="btn"> <span>Подписаться</span> </button>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>


    //= partials/hidden-block.html
    //= partials/footer.html
</div>
</body>
</html>